﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>WIA Class: online learning Platform - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="@Url.Content("~/assets/img/logoV1.png")" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- LandingPage CSS Bundle -->
    @Styles.Render("~/LandingPage/css")
    <!-- Template Main CSS File -->

    <!-- =======================================================
    * Template Name: Appland - v2.3.1
    * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top  header-transparent ">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"></h1>
                <!-- <a href="index"><img src="~/assets/img/logoV1.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="#features">Fitur</a></li>
                    <li><a href="#caraPenggunaan">Cara Penggunaan</a></li>
                    <li><a href="#faq">F.A.Q</a></li>
                    <li><a href="#contact">Kontak kami</a></li>

                    <li class="get-started">@Html.ActionLink("Masuk", "Index", "Login")</li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                    <div class="logo mr-auto">
                        <a href="index"><img src="@Url.Content("~/assets/img/logoV1.png")" alt="" class="img-fluid"></a>
                    </div>
                    <div>
                        <h1>Online Learning Platform</h1>
                        <h2>Kelas online tanpa perlu ribet</h2>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                    <img src="@Url.Content("~/assets/img/hero-img.png")" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= App Features Section ======= -->
        <section id="features" class="features">
            <div class="container">

                <div class="section-title">
                    <h2>Fitur Aplikasi</h2>
                    <p>Wia class dirancang untuk mempermudah penggunanya baik guru maupun para siswa dalam melakukan kegiatan belajar-mengajar secara daring menggunakan satu platform</p>
                </div>

                <div class="row no-gutters">
                    <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                        <div class="content d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-md-6 icon-box" data-aos="fade-up">
                                    <i class="bx bx-id-card"></i>
                                    <h4>Attendance</h4>
                                    <p>Pencatat kehadiran di setiap kegiatan kelas, memudahkan pengguna sebelum dan sesudah berlangsungnya kelas</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-laptop"></i>
                                    <h4>Making Classroom</h4>
                                    <p>Ruangan kelas online untuk menunjang kegiatan belajar-mengajar, dengan berbagai fitur yang dibutuhkan</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Task and Homework</h4>
                                    <p>Memberikan dan mengumpulkan tugas maupun pekerjaan rumah, dirancang dalam satu platform untuk mempermudah guru maupun siswa</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Making Quiz</h4>
                                    <p>Pembuatan quiz yang dapat dilakukan langsung pada website ini, dengan sistem yang dirancang untuk mengurangi tingkat kecurangan</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bx bx-message-add"></i>
                                    <h4>Announcement</h4>
                                    <p>Memberikan pengumuman kepada seluruh siswa yang dikelola secara terpusat</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                                    <i class="bx bx-trophy"></i>
                                    <h4>Evaluation</h4>
                                    <p>Memberikan evaluasi dari hasil belajar siswa, sehingga mempermudah orang tua dalam memantau perkembangan hasil belajar anak</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="@Url.Content("~/assets/img/kids1.jpg")" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section><!-- End App Features Section -->
        <!-- ======= Details Section ======= -->
        <section id="details" class="details">
            <div class="container">

                <div class="row content">
                    <div class="col-md-8" data-aos="fade-right">
                        <img src="@Url.Content("~/assets/img/kids2.jpg")" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4 pt-4" data-aos="fade-up">
                        <h3>Alasan mengapa anda harus menggunakan WIA Class.</h3>
                        <p>
                            Masih ragu menggunakan WIA Class? para developer telah melakukan berbagai survey untuk mengembangkan platform ini untuk mengatasi keraguanmu
                        </p>
                        <ul>
                            <li><i class="icofont-check"></i> 86,7% hasil survey setuju dengan fitur Attendance.</li>
                            <li><i class="icofont-check"></i> 78,9% hasil survey setuju dengan fitur Video Call.</li>
                            <li><i class="icofont-check"></i> 90,4% hasil survey setuju dengan fitur Task and Homework.</li>
                            <li><i class="icofont-check"></i> 96,1% hasil survey setuju dengan fitur Evaluation.</li>
                            <li><i class="icofont-check"></i> 92,3% hasil survey setuju dengan fitur Announcement.</li>
                        </ul>
                        <p class="font-italic">
                            "Salah satu tujuan pendidikan adalah mengajarkan bahwa hidup itu berharga." <br /><b>- Abraham H. Maslow</b>
                        </p>
                    </div>
                </div>
            </div>
        </section><!-- End Details Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="caraPenggunaan" class="gallery">
            <div class="container">

                <div class="section-title">
                    <h2>Cara Penggunaan</h2>
                    <p>Berikut adalah gambar dari cara-cara menggunakan wia class ini, apabila ada hal yang kurang jelas dapat ditanyakan pada form kotak yang tersedia</p>
                </div>

                <div class="owl-carousel gallery-carousel" data-aos="fade-up">
                    <a href="@Url.Content("~/assets/img/gallery/Login.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/Login.png" alt=""></a>
                    <a href="@Url.Content("~/assets/img/gallery/Register.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/Register.png" alt=""></a>
                    <a href="@Url.Content("~/assets/img/gallery/AdminSekolah.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/AdminSekolah.png" alt=""></a>
                    <a href="@Url.Content("~/assets/img/gallery/Guru.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/Guru.png" alt=""></a>
                    <a href="@Url.Content("~/assets/img/gallery/Siswa.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/Siswa.png" alt=""></a>
                    @*<a href="@Url.Content("~/assets/img/gallery/gallery-6.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/gallery-6.png" alt=""></a>
                        <a href="@Url.Content("~/assets/img/gallery/gallery-7.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/gallery-7.png" alt=""></a>
                        <a href="@Url.Content("~/assets/img/gallery/gallery-8.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/gallery-8.png" alt=""></a>
                        <a href="@Url.Content("~/assets/img/gallery/gallery-9.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/gallery-9.png" alt=""></a>
                        <a href="@Url.Content("~/assets/img/gallery/gallery-10.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/gallery-10.png" alt=""></a>
                        <a href="@Url.Content("~/assets/img/gallery/gallery-11.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/gallery-11.png" alt=""></a>
                        <a href="@Url.Content("~/assets/img/gallery/gallery-12.png")" class="venobox" data-gall="gallery-carousel"><img src="~/assets/img/gallery/gallery-12.png" alt=""></a>*@
                </div>

            </div>
        </section><!-- End Gallery Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>Berikut hasil testimonial dari beberapa pengguna WIA Class, Kami berterima kasih kepada anda yang telah berpartisipasi dalam menyampaikan testimonial setelah menggunakan wia class, seluruh saran maupun pengalaman anda akan kami tampung untuk perkembangan wia class kedepannya.</p>
                </div>

                <div class="owl-carousel testimonials-carousel" data-aos="fade-up">

                    @foreach (var item in ViewData["listTestimoni"] as List<WIAClass.Models.Tbl_Testimonial>)
                    {
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~/Upload/profile/@item.Foto" class="testimonial-img" alt="">
                                <h3>@item.Nama</h3>
                                <h4>@item.Posisi_Role</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    @item.Testimoni
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </section>
        <!-- End Testimonials Section -->
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">

                    <h2>Frequently Asked Questions (Pertanyaan yang sering ditanyakan)</h2>
                    <p>Berikut adalah beberapa pertanyaan-pertanyaan yang sering ditanyakan oleh pengguna aplikasi Wia Class</p>
                </div>

                <div class="accordion-list">
                    <ul>
                        @foreach (var item in ViewData["listFAQ"] as List<WIAClass.Models.Tbl_FAQ>)
                        {
                            <li data-aos="fade-up">
                                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#accordion-list-@item.Pk_Id_FAQ">@item.Pertanyaan<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-@item.Pk_Id_FAQ" class="collapse hide" data-parent=".accordion-list">
                                    <p>
                                        @item.Jawaban
                                    </p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Team</h2>
                    <p><i>Satu orang dapat menjadi sangat penting dalam sebuah tim, akan tetapi satu orang tidak bisa membuat tim yang hebat."</i><br /><b> - Kareem Abdul-Jabbar.</b></p>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in">
                            <div class="pic"><img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Ahmad Imam Fadhila</h4>
                                <span>Developer</span>
                                <div class="social">
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="@Url.Content("~/assets/img/team/team-2.jpg")" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Muhammad Agung G</h4>
                                <span>Developer</span>
                                <div class="social">
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="@Url.Content("~/assets/img/team/team-4.jpg")" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Wildan Novrizal</h4>
                                <span>Developer</span>
                                <div class="social">
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Kontak Kami</h2>
                    <p>Apabila ada hal yang ingin disampaikan mengenai Wia Class, anda dapat menghubungi developer melalui nomor telepon serta email yang tertera. <br /> Atau anda juga dapat mengirimkan pesan menggunakan form pesan yang ada dibawah ini </p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-phone"></i>
                                <h4>Call Us</h4>
                                <p>+628212765801<br>+6285759276473</p>
                            </div>
                            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-envelope"></i>
                                <h4>Email Us</h4>
                                <p>wiaclassteam@gmail.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <form action="@Url.Action("KontakKami", "Home")" method="post" role="form" class="php-email-form" data-aos="fade-up">
                            <div class="form-group">
                                <input placeholder="Nama Anda" type="text" name="Nama" class="form-control" id="Nama" data-rule="minlen:4" data-msg="Mohon tuliskan sesuatu minimal 4 karakter" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input placeholder="Alamat Email" type="email" class="form-control" name="Email" id="Email" data-rule="email" data-msg="Mohon tuliskan format email yang benar" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input placeholder="Subjek" type="text" class="form-control" name="Subjek" id="Subjek" data-rule="minlen:4" data-msg="Mohon tuliskan sesuatu minimal 4 karakter" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Tuliskan Pesan, Pertanyaan, saran, atau kritik anda disini" class="form-control" id="Pesan" name="Pesan" rows="5" data-rule="required" data-msg="Mohon tuliskan pesan anda untuk kami"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Pesan anda telah terkirim, terima kasih banyak atas partisipasinya</div>
                            </div>
                            <div class="text-center"><button type="submit">Kirim Pesan</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Section -->
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>WIA Class 2021</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- LandingPage JS Files -->
    @Scripts.Render("~/LandingPage/js")

    <script>
       /* function myFunction() {
            $('#Nama').val("");
            $('#Email').val("");
            $('#Subjek').val("");
            $('#Pesan').val("");
        } */
    </script>

</body>
</html>