﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WIA Class: online learning Platform - UnAuthorized</title>

    <!--Favicons-->
    <link href="@Url.Content("~/assets/img/logoV1.png")" rel="icon">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <!-- Theme style -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Main content -->
            <section class="content-header">
                <div class="container-fluid" style="text-align:center">
                    <img src="@Url.Content("~/assets/img/logoV1.png")" alt="logo wia" style="width:150px; height:150px" />
                </div>
            </section>
            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-warning"> 404</h2>

                    <div class="error-content">
                        <h3 style="text-align:center; font-size:32px"><i class="fas fa-exclamation-triangle text-warning"></i><b>Oops! ... Page Not Found</b></h3>

                        <p style="text-align:center; font-size:18px">
                            Kami tidak dapat menemukan laman yang anda cari.
                            Sementara itu, anda bisa <a href="@Url.Action("Index", "Home")">kembali ke Home</a>.
                        </p>

                    </div>
                    <!-- /.error-content -->
                </div>
                <!-- /.error-page -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer id="footer" style="bottom:0; position:fixed; padding:10px 10px 0px 10px">

            <div class="container py-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>WIA Class 2021</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- End Footer -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/LandingPage/js")
    <!-- Bootstrap 4 -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- AdminLTE App -->
    @Scripts.Render("~/assets/adminlte/js")
</body>
</html>

