﻿
<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <h1 style="text-align:center">Kuis Selesai</h1>
    <h2 style="text-align:center">Score anda adalah @TempData["nilaiTotal"]</h2>
    <h3 style="text-align:center">Anda benar menjawab @TempData["nilai"] dari @TempData["soal"]. Terus belajar dan tetap semangat!</h3>
    <a class="button btn btn-primary" href="@Url.Action("Index", "Siswa")" style="position:relative">Kembali ke halaman awal</a>
</div>
