﻿<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">

    <div class="tab-content" style="position:relative">
        @{
            ViewBag.Title = "Halaman Evaluasi Umum";
            <span style="color:blue; font-size:24px">Daftar Evaluasi Umum Anda &emsp;</span>
            <span style="font-size:24px"> / </span>
            <a href="@Url.Action("EvaluasiPerTugas", "Siswa")" onmouseover="this.style.color='pink'" onmouseout="this.style.color='black'" style="color:black; font-size:24px">&emsp; Daftar Evaluasi Per-Tugas</a>
        }
        <table id="tabelEvaluasi" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>Nilai</th>
                    <th>Guru</th>
                    <th>Evaluasi</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelEvaluasi").DataTable({
            "ajax": {
                "url": "@Url.Action("DataEvaluasi", "Siswa")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Nilai" },
                { "data": "Nama_Guru" },
                { "data": "Evaluasi" },
            ]
        });
    });
</script>