﻿<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">

    <div class="tab-content" style="position:relative">
        @{
            ViewBag.Title = "Halaman Evaluasi Per Tugas";
            <a href="@Url.Action("EvaluasiSiswa", "Siswa")" onmouseover="this.style.color='pink'" onmouseout="this.style.color='black'" style="color:black; font-size:24px">Daftar Evaluasi Umum Anda &emsp;</a>
            <span style="font-size:24px"> / </span>
            <span style="color:blue; font-size:24px">&emsp; Daftar Evaluasi Per-Tugas</span>
        }

        @*<div class="tab-pane container active p-0" id="tugas" style="margin-top:15px;">*@
        <table id="tabelEvaluasiPerTugas" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>Nama Mata Pelajaran</th>
                    <th>Nama Tugas</th>
                    <th>Nama Guru</th>
                    <th>Nilai</th>
                    <th>Evaluasi</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelEvaluasiPerTugas").DataTable({
            "ajax": {
                "url": "@Url.Action("DataEvalPerTugas", "Siswa")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [               
                { "data": "Nama_Mata_Pelajaran" },
                { "data": "Nama_Tugas"},               
                { "data": "Nama_Guru" },
                { "data": "Nilai" },
                { "data": "Eval_Per_Hari" }
            ],
            "order": [[0, "desc"]]
        });
    });
</script>


