﻿

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/assets/adminlte/owlCarousel/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/adminlte/owlCarousel/owl.theme.default.min.css">
<link rel="stylesheet" href="~/assets/adminlte/owlCarousel/style.css">

<div class="container">
    <h2><i>Hai <b>@ViewData["nama"]</b>, Selamat belajar ya</i></h2>
    <div class="row mt-3">
        <div class="col-lg-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner ml-2">
                    <h3>@ViewBag.StatusAbsen Absen</h3>

                    <h5>Status Kehadiran</h5>
                </div>
                <div class="icon">
                    <i class="fas fa-list-alt fa-lg"></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner inner ml-2">
                    <h3>@ViewBag.AdaTugas Tugas</h3>

                    <h5>Yang perlu dikumpulkan</h5>
                </div>
                <div class="icon">
                    <i class="fas fa-book fa-lg"></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
    </div>
    <a class="btn btn-warning btn-lg" href="@Url.Action("KehadiranSiswa", "Siswa")">Klik disini untuk menuju halaman Kehadiran</a>
    <div class="row">
        <div class="col-md-12" id="pgmn">
            <h2 class="heading-section"><b><u>Pengumuman dari sekolah</u></b></h2>
            <h5>@TempData["Message"]</h5>
        </div>
        <div class="col-md-12">
            <div class="featured-carousel owl-carousel">
                @foreach (var item in ViewData["listPengumuman"] as List<WIAClass.Models.Tbl_Pengumuman>)
                {
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-end justify-content-center" style="background-image: url(Upload/bgPengumuman/@item.Background);">
                                <div class="text w-100">
                                    <span class="cat">@item.Waktu.Value.ToString("dd - MM - yyyy")</span>
                                    <h3><a href="@Url.Action("LihatPengumuman", "Siswa", new {id = item.Pk_Id_Pengumuman })">@item.Judul_Pengumuman</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/assets/LandingPage/owl.carousel/owl.carousel.min.js"></script>
<script src="~/assets/adminlte/owlCarousel/main.js"></script>
