﻿@using WIAClass.Models

@model RequestApprovalModel

@{
    ViewBag.Title = "Kehadiran Siswa";
}

<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <h2>Pencatat Kehadiran Siswa</h2>
    <br /><br />
    <h4 style="color:green; display:none" id="notifSiswaMasuk">Selamat datang! Semangat belajarnya ya. Jangan lupa kembali ke halaman ini setelah aktivitas anda selesai, untuk mengisi absensi kepulangan.</h4>
    <h4 style="color:green; display:none" id="notifSiswaPulang">Terima kasih untuk kerja kerasnya hari ini. Sampai berjumpa lagi.</h4>

    <div class="tab-content" style="position:relative">
        <div class="col-md-12 text-center">

            @if (Session["absenSiswa"].ToString() == "checkin")
            {
                <a class="btn btn-secondary" href="#" id="btnMasukd">Absensi Kehadiran</a>
                <a class="btn btn-primary" href="#" id="btnPulang" onclick="Pulang()">Absensi Kepulangan</a>
                <a class="btn btn-outline-primary" href="#" id="btnLupa" data-toggle="modal" data-target="#MyModal" onclick="return Upload();">Permintaan Absensi</a>
            }
            else
            {
                <a class="btn btn-primary" href="#" id="btnMasuk" onclick="Hadir()">Absensi Kehadiran</a>
                <a class="btn btn-secondary" href="#" id="btnPulangd">Absensi Kepulangan</a>
                <a class="btn btn-outline-primary" href="#" id="btnLupa" data-toggle="modal" data-target="#MyModal" onclick="return Upload();">Permintaan Absensi</a>
            }

        </div>
    </div>
    <br /><br />
    <table id="tabelKehadiranSiswa" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>Tanggal</th>
                <th>Nama Sekolah</th>
                <th>Nama Siswa</th>
                <th>Kelas</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Lupa Absensi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgEdit" style="color:green;"></h5>
                    <form id="formInput">
                        <p id="notifSukses"></p>
                        <div class="form-group">
                            <label for="WaktuAbsensi" id="lblWaktu">Waktu Absensi<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <br />
                            @Html.TextBoxFor(x => x.Waktu_Absensi, new { @type = "date", @class = "form-control", @id = "WaktuAbsensi", @placeholder = "" })
                        </div>
                        <div class="form-group">
                            <label for="StatusAbsensi" id="lblStatus">Status<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <br />
                            @Html.DropDownListFor(x => x.Stats, new SelectList(Enum.GetValues(typeof(status))), "Pilih Status")
                        </div>
                    </form>
                    <label for="imageBrowse" id="lblLampiran">Lampiran<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                    <h6 id="labelSelectFile" style="color:red">Pilih File (jpg, jpeg, png, pdf : Max 1 MB)</h6><br />
                    <div class="btn btn-primary" id="caseBtnUpload">
                        <input type="file" id="imageBrowse" />
                    </div>
                    <p id="checkSize"></p>
                    <div id="imgPreview" class="thumbnail" style="display:none">
                        <img class="img-responsive" id="targetImg" style="max-height:200px; max-width:200px" />
                        <div class="caption">
                            <a href="#" onclick="ClearPreview()"><i class="fa fa-trash" style="color:red" aria-hidden="true"></i></a>
                            <span id="description"></span>
                        </div>
                    </div>
                    <br /><br />
                    <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-primary mr-auto" id="btnUpload" onclick="uploadImage()" style="display:none"> Kirim </button>
                    <button type="button" class="btn btn-primary" id="btnReload" style="display:none;" onclick="reload();">Kembali</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     $(document).ready(function () {

        //Tabel kehadiran
         $("#tabelKehadiranSiswa").DataTable({
            "ajax": {
                "url": "@Url.Action("DataKehadiranSiswa", "Siswa")",
                "type": "GET",
                "datatype": "json",
            },
            "columns": [
                {
                    "data": "Tanggal",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var MM = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        var HH = dateFull.getHours();
                        var mm = dateFull.getMinutes();
                        var ss = dateFull.getSeconds();

                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (MM < 10) {
                            MM = '0' + MM;
                        }

                        if (HH < 10) {
                            HH = '0' + HH;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = MM + '/' + dd + '/' + yyyy + " (" + HH + ":" + mm + ":" + ss + ")";
                        return today;
                    },
                },
                { "data": "Nama_Sekolah" },
                { "data": "Nama_Siswa" },
                { "data": "Kelas" },
                { "data": "Status" }
             ],
            "order": [[0, "desc"]]
        });

    });


    let Hadir = function () {

        $.ajax({
            url: "@Url.Action("AbsenSiswaHadir", "Siswa")",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                alert("Terima kasih telah mengisi absensi kehadiran!");
                $('#tabelKehadiranSiswa').DataTable().ajax.reload();
                $("#btnPulangd").hide();
                $("#btnMasuk").hide();
                $("#btnLupa").hide();
                $("#notifSiswaMasuk").show();
            },
            error: function (err) {
                alert(err.statusText);
            }
        });

    }

    let Pulang = function () {

        $.ajax({
            url: "@Url.Action("AbsenSiswaPulang", "Siswa")",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                alert("Terima kasih telah mengisi absensi kepulangan!");
                $('#tabelKehadiranSiswa').DataTable().ajax.reload();
                $("#btnPulang").hide();
                $("#btnMasukd").hide();
                $("#btnLupa").hide();
                $("#notifSiswaMasuk").hide();
                $("#notifSiswaPulang").show();
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }

    $('#btnReload').click(function () {
        location.reload(true);
        $("#MyModal").modal("hide");
        $("#btnKirim").show();
        $("#btnReload").hide();
    });

    function Upload() {
        $('#WaktuAbsensi').val("");
        $('#WaktuAbsensi').css('border-color', 'lightgrey');

        $('#imageBrowse').on('change', function () {
            let numb = $(this)[0].files[0].size / 1024 / 1024;
            let file = this.files[0];
            let fileType = file["type"];
            let validImageTypes = ["image/jpeg", "image/png", "application/pdf"];
            numb = numb.toFixed(2);
            if ($.inArray(fileType, validImageTypes) < 0) {
                $('#checkSize').text("Format file tidak diizinkan");
                $('#checkSize').css("color", "red");
                $("#imageBrowse").val('');
                $("#description").text('');
                $("#imgPreview").hide();
                $('#btnUpload').hide();
            } else {
                if (numb > 1) {
                    $('#checkSize').text("File anda terlalu besar, maksimal 1 MB");
                    $('#checkSize').css("color", "red");
                    $("#imgPreview").hide();
                    $('#btnUpload').hide();
                } else {
                    $('#checkSize').text("Ukuran File diterima");
                    $('#checkSize').css("color", "green");
                    ReadImage(file);
                    $('#btnUpload').show();
                }
            }
        });
    }

    let ReadImage = function (file) {
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            image.onload = function () {

                let height = image.height;
                let width = image.width;
                let size = ~~(file.size / 1024) + "KB";
                $("#targetImg").attr('src', _file.target.result);
                $("#description").text("Ukuran file: " + size + ", (" + height + " x " + width + ")");
                $("#imgPreview").show();
            }

        }
    }

    let ClearPreview = function () {
        $("#imageBrowse").val('');
        $("#description").text('');
        $("#imgPreview").hide();
        $('#checkSize').text('');
        $('#btnUpload').hide();
    }

    let uploadImage = function () {

        if ($("#imageBrowse").val() != "") {
            if (window.FormData !== undefined) {

                let fileUpload = $("#imageBrowse").get(0);
                let files = fileUpload.files;

                var WaktuAbsen = $("#WaktuAbsensi").val();
                var Stats = $("#Stats").val();

                // Create FormData object
                let fileData = new FormData();
                fileData.append("ImageFile", files[0]);
                fileData.append("Waktu_Absensi", WaktuAbsen);
                fileData.append("Stats", Stats);

                $.ajax({
                    url: "@Url.Action("RequestApprovalSiswa", "Siswa")",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function () {
                        ClearPreview();
                        $("#caseBtnUpload").hide();
                        $("#WaktuAbsensi").hide();
                        $("#Stats").hide();
                        $("#lblWaktu").hide();
                        $("#lblStatus").hide();
                        $("#labelSelectFile").hide();
                        $("#lblLampiran").hide();
                        $('#checkSize').text("");
                        $("#notifSukses").text("Permintaan anda telah dikirim");
                        $('#notifSukses').css("color", "green");
                        $("#labelSelectFile").hide();
                        $("#btnUpload").hide();
                        $("#btnCancel").hide();
                        $("#btnReload").show();
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("There's something error");
            }
        } else {
            $('#checkSize').text("Mohon pilih file terlebih dahulu");
            $('#checkSize').css("color", "red");
        };
    }

</script>
