﻿<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">

    <div class="tab-content" style="position:relative">
        @{
            ViewBag.Title = "Halaman Tugas";
            <span style="color:blue; font-size:24px">Daftar Tugas Anda &emsp;</span>
            <span style="font-size:24px"> / </span>
            <a href="@Url.Action("HistoriTugas", "Siswa")" onmouseover="this.style.color='pink'" onmouseout="this.style.color='black'" style="color:black; font-size:24px">&emsp; Histori Pengiriman Tugas</a>
        }
        <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Upload Tugas</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h6 id="labelSelectFile" style="color:red">Pilih File (jpg, jpeg, png, doc, docx, txt, pdf, zip : Max 2 MB)</h6>
                                <div class="btn btn-primary" id="caseBtnUpload">
                                    <input type="file" id="imageBrowse" />
                                </div>
                                <p id="checkSize"></p>
                                <div id="imgPreview" class="thumbnail" style="display:none">
                                    <img class="img-responsive" id="targetImg" style="max-height:200px; max-width:200px" />
                                    <div class="caption">
                                        <a href="#" onclick="ClearPreview()"><i class="fa fa-trash" style="color:red" aria-hidden="true"></i></a>
                                        <span id="description"></span>
                                    </div>
                                </div>
                                <br /><br />
                                <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal">Kembali</button>
                                <button type="button" class="btn btn-primary mr-auto" id="btnUpload" onclick="uploadImage()" style="display:none"> Kirim </button>
                                <button type="button" class="btn btn-primary" id="btnReload" style="display:none;" onclick="reload();">Kembali</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="tab-pane container active p-0" id="tugas" style="margin-top:15px;">*@
        <table id="tabelTugas" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>Waktu Pemberian</th>
                    <th>Nama Tugas</th>
                    <th>Batas Pengumpulan</th>
                    <th>Nama Kelas</th>
                    <th>Nama Guru</th>
                    <th>Nama Mata Pelajaran</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        @*</div>*@
        <input type="hidden" id="tugasid" />
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelTugas").DataTable({
            "ajax": {
                "url": "@Url.Action("DataTugas", "Siswa")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "Waktu_Pemberian",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Nama_Tugas" },
                {
                    "data": "Batas_Pengumpulan",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Nama_Kelas" },
                { "data": "Nama_Guru" },
                { "data": "Nama_Mata_Pelajaran" },
                {
                    "data": "Id_Tugas",
                    mRender: function (data) {
                        var linkUpload = '<a href="#" class="btn btn-outline-primary" data-toggle="modal" id="btnUpload" data-target="#MyModal" onclick="Upload(' + data + ');">Upload Tugas</a>';

                        return linkUpload;
                    }
                }
            ]
        });
    });

    $('#btnReload').click(function () {
        location.reload(true);
        $("#MyModal").modal("hide");
        $("#btnKirim").show();
        $("#btnReload").hide();
    });

    //Function for clearing the textboxes
    function Upload(ID_Tugas) {
        // browse image
        $('#imageBrowse').on('change', function () {
            let numb = $(this)[0].files[0].size / 1024  / 1024 ;
            let file = this.files[0];
            let fileType = file["type"];
            let validImageTypes = ["image/jpeg", "image/png", "text/plain", "application/pdf", "application/msword", "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/rar", "application/x-rar-compressed", "application/octet-stream", "application/zip", "application/octet-stream", "application/x-zip-compressed", "multipart/x-zip"];
            numb = numb.toFixed(2);
            if ($.inArray(fileType, validImageTypes) < 0) {
                $('#checkSize').text("Format file tidak diizinkan");
                $('#checkSize').css("color", "red");
                $("#imageBrowse").val('');
                $("#description").text('');
                $("#imgPreview").hide();
                $('#btnUpload').hide();
            } else {
                if (numb > 2) {
                    $('#checkSize').text("File anda terlalu besar, maksimal 2 MB");
                    $('#checkSize').css("color", "red");
                    $("#imgPreview").hide();
                    $('#btnUpload').hide();
                } else {
                    $('#checkSize').text("Ukuran File diterima");
                    $('#checkSize').css("color", "green");
                    ReadImage(file);
                    $('#btnUpload').show();
                }
            }
        });
        $("#tugasid").val(ID_Tugas) = ID_Tugas;
    }

    let ReadImage = function (file) {
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            image.onload = function () {

                let height = image.height;
                let width = image.width;
                let size = ~~(file.size / 1024) + "KB";
                $("#targetImg").attr('src', _file.target.result);
                $("#description").text("Ukuran file: " + size + ", (" + height + " x " + width + ")");
                $("#imgPreview").show();
            }

        }
    }

    let ClearPreview = function () {
        $("#imageBrowse").val('');
        $("#description").text('');
        $("#imgPreview").hide();
        $('#checkSize').text('');
        $('#btnUpload').hide();
    }

    let uploadImage = function () {
        var id = $("#tugasid").val();
        if ($("#imageBrowse").val() != "") {
            if (window.FormData !== undefined) {

                let fileUpload = $("#imageBrowse").get(0);
                let files = fileUpload.files;

                // Create FormData object
                let fileData = new FormData();
                fileData.append("ImageFile", files[0]);

                $.ajax({
                    url: 'MengirimTugas/' + id,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function () {
                        ClearPreview();
                        $("#caseBtnUpload").hide();
                        $('#checkSize').text("Upload file tugas berhasil");
                        $('#checkSize').css("color", "green");
                        $("#labelSelectFile").hide();
                        $("#btnUpload").hide();
                        $("#btnCancel").hide();
                        $("#btnReload").show();
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("There's something error");
            }
        } else {
            $('#checkSize').text("Mohon pilih file terlebih dahulu");
            $('#checkSize').css("color", "red");
        };
    }

    function reload() {
        location.reload(true);
    }
</script>

