﻿@{
    ViewBag.Title = "Halaman Kuis";
    ViewBag.Current = "Kuis";
}

<head>
    <link href="~/Content/quiz/quizstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="start_btn"><button class="btn btn-block btn-primary">Mulai</button></div>
    <div class="info_box modal-content">
        <div class="info_title modal-header">
            <span>Peraturan</span>
        </div>
        <div class="info_list modal-body">
            <div class="info">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
            <div class="info">2. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div class="info">3. Ut enim ad minim veniam</div>
            <div class="info">4. quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <div class="info">5. Duis aute irure dolor in reprehenderit in voluptate</div>
        </div>
        <div class="buttons modal-footer">
            <button class="quit btn btn-block btn-danger btn-sm">Keluar</button>
            <button class="restart btn btn-block btn-primary btn-sm">Lanjut</button>
        </div>
    </div>

    @*Quiz Box*@
    <div class="quiz_box modal-content">
        <header>
            <div class="title">Tes Quiz</div>
            <div class="timer">
                <div class="timer_text">Waktu tersisa</div>
                <div class="timer_sec"></div>
            </div>
        </header>
        <section>
            <div class="que_number">

            </div>
            <div class="que_text">
                @*<span>2 + 2?</span>*@
            </div>
            <div class="option_list">
                @*<div class="option">
                    <span>4</span>
                    <div class="icon tick"><i class="fas fa-check"></i></div>
                </div>
                <div class="option">
                    <span>5</span>
                    <div class="icon cross"><i class="fas fa-times"></i></div>
                </div>
                <div class="option">
                    <span>3</span>
                </div>
                <div class="option">
                    <span>0</span>
                </div>*@
            </div>
        </section>

        @*Quiz Box Footer*@
        <footer>
            <div class="total_que">
                <span><p>2</p>dari<p>5</p>Pertanyaan</span>
            </div>
            <div class="buttons">
                <button class="next_btn btn btn-block btn-primary">Selanjutnya</button>
            </div>
        </footer>
    </div>

    @*Finsihed Box*@
    <div class="finish_box modal-content">
        <div class="finish_text">Anda telah menyelesaikan kuis</div>
        <div class="finish_subtext">Hasil telah disimpan untuk dinilai</div>
    </div>

    <script src="~/Scripts/quiz/quizscript.js"></script>
    <script src="~/Scripts/quiz/questions.js"></script>

</body>
