﻿@model WIAClass.Models.Tbl_Pertanyaan

@{
    ViewBag.Title = "QuizStart";
}
<head>
    <link href="~/Content/quiz/quizstyle.css" rel="stylesheet" />
</head>
<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <!-- <h3><b><u>Kerjakan dengan jujur ya, semangat</u></b></h3> -->
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" style="position: relative; z-index: 0;">
            <div class="container containeropsi">
                @*<div class="quiz_box modal-content">
                    <div class="timer">
                        <div class="timer_text">Waktu tersisa</div>
                        <div class="timer_sec"></div>
                    </div>
                </div>*@
                <h1 style="display:inline">Waktu tersisa : </h1>
                <h1 id="countdown" style="color:green; display:inline"></h1>
                <div class="row" id="pertanyaan" style="position: absolute; z-index: -1;">
                    <h1><b>@Html.DisplayFor(x => x.Pertanyaan)</b></h1>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="row">
                    <h3>@Html.RadioButtonFor(x => x.OptA, new { @class = "form-control" }) @Model.OptA</h3>
                </div>
                <div class="row">
                    <h3>@Html.RadioButtonFor(x => x.OptB, new { @class = "form-control" }) @Model.OptB</h3>
                </div>
                <div class="row">
                    <h3>@Html.RadioButtonFor(x => x.OptC, new { @class = "form-control" }) @Model.OptC</h3>
                </div>
                <div class="row">
                    <h3>@Html.RadioButtonFor(x => x.OptD, new { @class = "form-control" }) @Model.OptD</h3>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-success" value="Soal selanjutnya" id="nextQuestion"/>
                </div>
            </div>
        </div>
        
    }
<script>
        @*const timeCount = quiz_box.querySelector(".timer .timer_sec");
        let timeValue = 30;
        function startTimer(time) {
            counter = setInterval(timer, 1000);
            function timer() {
                timeCount.style.color = "#fff";
                timeCount.textContent = time;
                time--;
                if (time < 9) {
                    let addZero = timeCount.textContent;
                    timeCount.textContent = "0" + addZero;
                    timeCount.style.color = "red";
                }
                if (time < 0) {
                    clearInterval(counter);
                    timeCount.textContent = "00";
                    form.submit();
                }
            }
        }*@
        $(document).ready(function () {
           @* startTimer(timeValue);*@
            var button = document.getElementById('nextQuestion'),
                form = button.form;

            form.addEventListener('submit', function () {
                return false;
            })
            var viewbag = parseInt(@ViewBag.Waktu);
            var times = viewbag; //Here put the number of times you want to auto submit
            (function submit() {
                $('#countdown').text(times);
                if (times == 0) form.submit();
                if (times <= 10) {
                    $('#countdown').css('color', 'Red');
                }
                times--;
                setTimeout(submit, 1000);   //Each second
            })();
        });
        $('input[type=radio]').change(function () {
            if (this.checked) {
                $(this).closest('.containeropsi')
                    .find('input[type=radio]').not(this)
                    .prop('checked', false);
            }
        });


</script>
</div>