﻿
<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">

    <div class="tab-content">
        @{
            ViewBag.Title = "Pilih quiz yang ingin dilakukan";
            <span style="color:blue; font-size:24px">Daftar Kuis Anda &emsp;</span>
        }
        <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Peraturan</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h4>1. Kerjakan dengan jujur</h4>
                                <h4>2. Jangan mengklik tombol back karena soal yang sedang dikerjakan akan dianggap tidak dijawab</h4>
                                <h4>3. Akan ada waktu penghitungan mundur pada tiap soal. Jika tidak menjawab sampai waktu habis, akan dianggap tidak dijawab</h4>
                                <h4>4. Klik soal selanjutnya jika sudah yakin dengan jawaban anda</h4>
                                <h4>5. Waktu anda selesai kuis akan dicatat</h4>
                                <h4>6. Jangan lupa berdoa sebelum mengerjakan</h4>
                                <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal">Kembali</button>
                                @*<a class="btn btn-primary" href="@Url.Action("Quiz", "Siswa", new {id = -1 })">Kerjakan Kuis</a>';*@
                                <button type="button" class="btn btn-primary mr-auto" id="btnStart" onclick="gotoQuiz();"> Kerjakan Kuis </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="tabelKuis" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>Nama Kuis</th>
                    <th>Waktu Pemberian</th>
                    <th>Batas Pengumpulan</th>
                    <th>Nama Guru</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <input type="hidden" id="quizid" />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelKuis").DataTable({
            "ajax": {
                "url": "@Url.Action("DataKuis", "Siswa")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Nama_Kategori" },
                {
                    "data": "Mulai_Kuis",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                {
                    "data": "Batas_Kuis",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Nama_Guru" },
                {
                    "data": "Pk_Id_Kategori",
                    mRender: function (data) {
                        var linkQuestions = '<a href="#" class="btn btn-outline-primary" data-toggle="modal" id="btnStart" data-target="#MyModal" onclick="modalQuiz(' + data + ');">Pilih Kuis</a>';

                        return linkQuestions;
                    }
                }
            ]
        });
    });

    function modalQuiz(Pk_Id_Kategori) {
        $("#quizid").val(Pk_Id_Kategori) = Pk_Id_Kategori;
    }

    let gotoQuiz = function () {
        var id = $("#quizid").val();
        var url = '@Url.Action("Quiz", "Siswa", new {id = -1 })';
        window.location.href = url.replace("-1", id);
    }
</script>
