﻿@model WIAClass.Models.RegistrationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Wia Class</title>
    <link href="@Url.Content("~/assets/img/logoV1.png")" rel="icon">
    @Styles.Render("~/LandingPage/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

@Html.AntiForgeryToken()

<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0 mt-5 mb-5">
        <div class="container">
            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/img/LogoV2.png")" alt="LogoV2" class="card-img-top img-fluid" style="max-width: 250px; max-height: auto"></a><br><br>
            <div class="card register-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="@Url.Content("~/assets/img/register.jpg")" alt="register" class="register-card-img">
                    </div>
                    <div class="card-body mx-auto" style="max-width: 400px;">
                        @if (TempData["notif"].ToString() == "0")
                        {
                            <p><u><i><span style="font-weight:bold; color:red">@ViewBag.Message</span></i></u></p>
                        }
                        else
                        {
                            <p><u><i><span style="font-weight:bold; color:green">@ViewBag.Message</span></i></u></p>
                        }

                        <p class="register-card-description"><b>Mendaftarkan sekolah</b></p>
                        <p style="font-size:14px">Note: <span style="font-weight:bold; color:red">*</span> Semua kolom harus diisi</p>
                        <form id="myForm">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                                </div>
                                <!--    <input name="" class="form-control" placeholder="Nama Sekolah" type="text"> -->
                                @Html.TextBoxFor(m => m.Nama_Sekolah, new { @class = "form-control", @placeholder = "Nama Sekolah" }) &nbsp; <span style="font-weight:bold; color:red; font-size:18px">*</span>
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                </div>
                                <!--  <input name="" class="form-control" placeholder="Nomor Telp" type="text"> -->
                                @Html.TextBoxFor(m => m.No_Telp, new { @class = "form-control", @placeholder = "Nomor Telp" }) &nbsp; <span style="font-weight:bold; color:red; font-size:18px">*</span>
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <!-- <input name="" class="form-control" placeholder="Alamat Email" type="email"> -->
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Alamat Email" }) &nbsp; <span style="font-weight:bold; color:red; font-size:18px">*</span>
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-address-book"></i> </span>
                                </div>
                                <!-- <input name="" class="form-control" placeholder="Alamat Sekolah" type="email"> -->
                                @Html.TextBoxFor(m => m.Alamat, new { @class = "form-control", @placeholder = "Alamat Sekolah" }) &nbsp; <span style="font-weight:bold; color:red; font-size:18px">*</span>
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <!--  <input class="form-control" placeholder="Tulis Password" type="password"> -->
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" }) &nbsp; <span style="font-weight:bold; color:red; font-size:18px">*</span>
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <!--  <input class="form-control" placeholder="Tulis Password" type="password"> -->
                                @Html.PasswordFor(m => m.KonfirmasiPassword, new { @class = "form-control", @placeholder = "Konfirmasi Password" }) &nbsp; <span style="font-weight:bold; color:red; font-size:18px">*</span>
                            </div> <!-- form-group// -->
                            <!--<div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Tulis ulang password" type="password">
        </div> -->
                            <div class="form-group">
                                <input type="submit" formmethod="post" value="Daftar" class="btn btn-block register-btn mb-4" />
                            </div> <!-- form-group// -->
                            <p class="text-center">Sudah memiliki akun? @Html.ActionLink("Masuk disini", "Index", "Login")</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

<!--
<script>
    var RegisterUser = function () {
        debugger
        var data = $("#myForm").serialize();

        $.ajax({
            type : "Post",
            url: "/LandingPage/RegisterUser",
            data: data,
            success: function (response) {
                alert("Success");
            }
        })
    }
</script>
    -->
