﻿
@{
    ViewBag.Title = "Forgot Password";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wia Class Lupa Password</title>
    <link href="@Url.Content("~/assets/img/logoV1.png")" rel="icon">
    @Styles.Render("~/LandingPage/css")
</head>
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/img/LogoV2.png")" alt="LogoV2" class="card-img-top img-fluid" style="max-width:250px; max-height:auto"><br><br></a>
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <hr />
                    @if(TempData["FP_notif"].ToString() == "0")
                    {
                        <div class="text-danger">
                            @ViewBag.Message
                        </div>
                    }
                    else
                    {
                        <div class="text-success">
                            @ViewBag.Message
                        </div>
                    }
                    
                    <div class="form-group">
                        Silakan masukkan alamat email terdaftar Anda di bawah ini untuk menerima email yang berisi link untuk mengatur ulang password Anda.
                    </div>
                    <div class="form-group">
                        <label class="control-label">Alamat Email</label>
                        @Html.TextBox("EmailID", "", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <input type="submit" value="Kirim" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>

    @Scripts.Render("~/LandingPage/js")
</body>
</html>

