﻿@model WIAClass.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wia Class Login</title>
    <link href="@Url.Content("~/assets/img/logoV1.png")" rel="icon">
    @Styles.Render("~/LandingPage/css")
</head>
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/img/LogoV2.png")" alt="LogoV2" class="card-img-top img-fluid" style="max-width:250px; max-height:auto"></a><br><br>
            @using (Html.BeginForm("Index", "Login"))
            {
                <div class="card login-card">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="@Url.Content("~/assets/img/login.jpg")" alt="login" class="login-card-img">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body mx-auto" style="max-width: 400px;">
                                <!--   <h1 class="text-light"><a href="index">Wia Class</a></h1>   -->
                                @if (TempData["notif"].ToString() == "0")
                                {
                                    <p><u><i><span style="font-weight:bold; color:red">@ViewBag.Message</span></i></u></p>
                                }
                                else
                                {
                                    <p><u><i><span style="font-weight:bold; color:green">@ViewBag.Message</span></i></u></p>
                                }

                                <p class="login-card-description"><b>Masukkan akun anda</b></p>
                                <form action="#!">
                                    <div class="form-group">
                                        <label for="email" class="sr-only">Email</label>
                                        <!--<input type="email" name="email" id="email" class="form-control" placeholder="Email address">-->
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Alamat Email" })
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="password" class="sr-only">Password</label>
                                        <!-- <input type="password" name="password" id="password" class="form-control" placeholder="***********"> -->
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    </div>
                                    <input name="login" formmethod="post" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Masuk">
                                </form>
                                <a href="@Url.Action("ForgotPassword", "Login")" class="forgot-password-link">Lupa Password?</a>
                                <p class="login-card-footer-text">atau @Html.ActionLink("Mendaftarkan akun sekolah disini", "Index", "Register")</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>

    @Scripts.Render("~/LandingPage/js")
</body>
</html>
