﻿@model WIAClass.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wia Class Lupa Password</title>
    <link href="@Url.Content("~/assets/img/logoV1.png")" rel="icon">
    @Styles.Render("~/LandingPage/css")
</head>
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/img/LogoV2.png")" alt="LogoV2" class="card-img-top img-fluid" style="max-width:250px; max-height:auto"><br><br></a>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>Reset Password</h4>
                    <hr />
                    @if (TempData["FP_notif"].ToString() == "0")
                    {
                        <div class="text-danger">
                            @ViewBag.Message
                        </div>
                    }
                    else
                    {
                        <div class="text-success">
                            @ViewBag.Message
                        </div>
                    }

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, "Password Baru", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, "Konfirmasi Password Baru", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(a => a.ResetCode)
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Simpan" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>

    @Scripts.Render("~/LandingPage/js")
</body>
</html>