﻿@model WIAClass.Models.CrudBeriTugas

@{
    ViewBag.Title = "Memberikan Tugas";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="tab-content">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="clearTextBox();">+ Tambah Data Tugas</a>
        <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Data Tugas</h4>
                    </div>
                    <div class="modal-body">
                        <h5 id="msgEdit" style="color:green;"></h5>
                        <form id="formInput">
                            <div class="form-group">
                                <label for="IdTugas">ID Tugas</label>
                                @Html.TextBoxFor(x => x.Id_Tugas, new { @class = "form-control", @id = "IdTugas", @placeholder = "Input Otomatis", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                <label for="NamaTugas">Nama Tugas<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                @Html.TextAreaFor(x => x.Nama_Tugas, new { @class = "form-control", @id = "NamaTugas", @placeholder = "" })
                            </div>
                            <div class="form-group">
                                <label for="WaktuPemberian">Waktu Pemberian<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <br />
                                @Html.TextBoxFor(x => x.Waktu_Pemberian, new { @type = "date", @class = "form-control", @id = "WaktuPemberian", @placeholder = "" })
                            </div>
                            <div class="form-group">
                                <label for="BatasPengumpulan">Batas Pengumpulan <span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <br />
                                @Html.TextBoxFor(x => x.Batas_Pengumpulan, new { @type = "date", @class = "form-control", @id = "BatasPengumpulan", @placeholder = "" })
                            </div>
                            <div class="form-group">
                                <label for="Id_Kelas">Kelas<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <br />
                                <select class="custom-select" id="Id_Kelas">
                                    <option selected value="1">Kelas 1</option>
                                    <option value="2">Kelas 2</option>
                                    <option value="3">Kelas 3</option>
                                    <option value="4">Kelas 4</option>
                                    <option value="5">Kelas 5</option>
                                    <option value="6">Kelas 6</option>
                                </select>
                            </div>
                            @*<div class="form-group">
                                    <label for="Id_Guru">Id Guru</label>
                                    @Html.TextBoxFor(x => x.Fk_Id_Guru, new { @class="form-control", @id="Id_Guru", @placeholder = "Input Otomatis", @disabled = "disabled" })
                                </div>*@
                        </form>
                        <p id="note" style="font-size:14px"><u>Keterangan :</u><br /><span style="font-weight:bold; color:red">*</span> Kolom harus diisi</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Tambah Data</button>
                        <button type="button" class="btn btn-primary" id="btnReload" style="display:none;">Refresh Tabel</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Ubah Data</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                    </div>
                    <div class="modal-body">
                        <h5 id="msgDelete" style="color:red;"></h5>
                        <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                        <button type="button" class="btn btn-primary" id="btnReload2" style="display:none;">Refresh Tabel</button>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="tab-pane container active p-0" id="tugas" style="margin-top:15px;">*@
        <table id="tabelTugas" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>Nama Tugas</th>
                    <th>Waktu Pemberian</th>
                    <th>Batas Pengumpulan</th>
                    <th>Kelas</th>
                    @*<th>Id Guru</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        @*</div>*@
        <input type="hidden" id="deleteId" />
        <input type="hidden" id="idtugas" />
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {

        //Tabel tugas
        $("#tabelTugas").DataTable({
            "ajax": {
                "url": "@Url.Action("DataTugas", "Guru")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Nama_Tugas" },
                {
                    "data": "Waktu_Pemberian",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                {
                    "data": "Batas_Pengumpulan",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Fk_Id_Kelas" },
                @*{ "data": "Fk_Id_Guru" },*@
                {
                    "data": "Id_Tugas",
                    mRender: function (data) {
                     var linkMenilaiTugas = '<a class="btn btn-primary" href="#" onclick="Menilai(' + data + ')">Beri Nilai</a>';
                     var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="GetTugasID('+ data +')">Ubah</a>';
                     var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>';

                     return linkEdit + " " + linkDelete + " " + linkMenilaiTugas;
                    }
                }
            ]
        });

    });

    $('#btnReload').click(function () {
        location.reload(true);
    });

    $('#btnReload2').click(function () {
        location.reload(true);
    });

    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#deleteId').val(id) = id;
    }

    let Menilai = function (id) {
        $('#idtugas').val(id) = id;
        $.ajax({
            url: 'MemberiNilaiHarian/' + id,
            type: "POST",
            contentType: false,
            processData: false,
            data: fileData,
            success: function () {

            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }


        //Add Data Function
    function Add() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var tugasObj = {
            Id_Tugas: $('#IdTugas').val(),
            Nama_Tugas: $('#NamaTugas').val(),
            Waktu_Pemberian: $('#WaktuPemberian').val(),
            Batas_Pengumpulan: $('#BatasPengumpulan').val(),
            Fk_Id_Kelas: $('#Id_Kelas').val()
            @*Fk_Id_Guru: $('#Id_Guru').val()*@
        };
        $.ajax({
            url: "@Url.Action("TambahTugas", "Guru")",
            data: JSON.stringify(tugasObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#msgEdit').text("Berhasil menambahkan data !");
                $('#myModal').modal('hide');
                $('#formInput').hide();
                $('#note').hide();
                $('#btnAdd').hide();
                $('#btnReload').show();
                $('#btnCancel').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Pk_Id_Siswa
    function GetTugasID(IdTugas) {
        $('#NamaTugas').css('border-color', 'lightgrey');
        $('#WaktuPemberian').css('border-color', 'lightgrey');
        $('#BatasPengumpulan').css('border-color', 'lightgrey');
        $('#Id_Kelas').css('border-color', 'lightgrey');
        @*$('#Id_Guru').css('border-color', 'lightgrey');*@
        $.ajax({
            url: "GetTugasID/" + IdTugas,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#IdTugas').val(result.Id_Tugas);
                $('#NamaTugas').val(result.Nama_Tugas);
                $('#WaktuPemberian').val(result.Waktu_Pemberian);
                $('#BatasPengumpulan').val(result.Batas_Pengumpulan);
                $('#Id_Kelas').val(result.Fk_Id_Kelas);
                @*$('#Id_Guru').val(result.Fk_Id_Guru);*@

                $('#MyModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
                $('#btnCancel').show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating (Edit)
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var tugasObj = {
            Id_Tugas: $('#IdTugas').val(),
            Nama_Tugas: $('#NamaTugas').val(),
            Waktu_Pemberian: $('#WaktuPemberian').val(),
            Batas_Pengumpulan: $('#BatasPengumpulan').val(),
            Fk_Id_Kelas: $('#Id_Kelas').val(),
            @*Fk_Id_Guru: $('#Id_Guru').val()*@
        };
        $.ajax({
            url: "EditTugas/",
            data: JSON.stringify(tugasObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#myModal').modal('hide');
                $('#msgEdit').text("Berhasil mengubah data !");
                $('#note').hide();
                $('#formInput').hide();
                $('#btnUpdate').hide();
                $('#btnReload').show();
                $('#btnCancel').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for deleting record
    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeleteTugas/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function () {
                $('#msgDelete').text("Berhasil menghapus data !");
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
                $('#btnReload2').show();
                $('#btnCancel2').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#IdTugas').val("");
        $('#NamaTugas').val("");
        $('#WaktuPemberian').val("");
        $('#BatasPengumpulan').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#NamaTugas').css('border-color', 'lightgrey');
        $('#WaktuPemberian').css('border-color', 'lightgrey');
        $('#BatasPengumpulan').css('border-color', 'lightgrey');
        $('#Id_Kelas').css('border-color', 'lightgrey');
        @*$('#Id_Guru').css('border-color', 'lightgrey');*@
    }
    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#NamaTugas').val().trim() == "") {
            $('#NamaTugas').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#NamaTugas').css('border-color', 'lightgrey');
        }
        if ($('#WaktuPemberian').val().trim() == "") {
            $('#WaktuPemberian').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#WaktuPemberian').css('border-color', 'lightgrey');
        }
        if ($('#BatasPengumpulan').val().trim() == "") {
            $('#BatasPengumpulan').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#BatasPengumpulan').css('border-color', 'lightgrey');
        }
        if ($('#Id_Kelas').val().trim() == "") {
            $('#Id_Kelas').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Id_Kelas').css('border-color', 'lightgrey');
        }
        @*if ($('#Id_Guru').val().trim() == "") {
            $('#Id_Guru').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Id_Guru').css('border-color', 'lightgrey');
        }*@
        return isValid;
    }

    function Score() {
        var id = $('#idtugas').val();
        $.ajax({
            url: "MemberiNilaiHarian/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function () {
                $('#msgDelete').text("Berhasil menghapus data !");
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
                $('#btnReload2').show();
                $('#btnCancel2').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>