﻿

<h1 style="text-align:center">Kuis Selesai</h1>
<h2 style="text-align:center">Score anda adalah @TempData["nilai"]</h2>
<h3 style="text-align:center">Terus belajar dan tetap semangat!</h3>
<a href="@Url.Action("Index", "Siswa")">Kembali ke halaman awal</a>