﻿@{
    ViewBag.Title = "Halaman Tugas";
    <a href="@Url.Action("KirimTugas", "Siswa")" onmouseover="this.style.color='pink'" onmouseout="this.style.color='black'" style="color:black; font-size:24px">Daftar Tugas Anda &emsp;</a>
    <span style="font-size:24px"> / </span>
    <span style="color:blue; font-size:24px">&emsp; Histori Pengiriman Tugas</span>
}

@*<div class="tab-pane container active p-0" id="tugas" style="margin-top:15px;">*@
@*<div class="tab-pane container active p-0" id="tugas" style="margin-top:15px;">*@
<table id="tabelHistoriTugas" class="table table-responsive-lg" style="width:100%;">
    <thead class="thead-dark text-white">
        <tr>
            <th>Nama Tugas</th>
            <th>Nama Mata Pelajaran</th>
            <th>Batas Pengumpulan</th>
            <th>Waktu Pengumpulan</th>
            <th>Nama Siswa</th>
            <th>Nama Kelas</th>
            <th>Url File</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@*</div>*@

<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelHistoriTugas").DataTable({
            "ajax": {
                "url": "@Url.Action("DataKirimTugas", "Siswa")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Nama_Tugas" },
                { "data": "Nama_Mata_Pelajaran"},
                {
                    "data": "Batas_Pengumpulan",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                {
                    "data": "Waktu_Pengumpulan",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Nama_Siswa" },
                { "data": "Nama_Kelas" },
                { "data": "Url_File" }
            ]
        });
    });
</script>