﻿

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <h2><b>WIA CLASS SUPER ADMIN</b></h2>
    <div class="row mb-3">
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@ViewBag.totalSekolah</h3>

                    <p>Jumlah Sekolah</p>
                </div>
                <div class="icon">
                    <i class="fas fa-school fa-lg"></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@ViewBag.totalGuru</h3>

                    <p>Jumlah Guru</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-tie fa-lg"></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@ViewBag.totalSiswa</h3>

                    <p>Jumlah Siswa</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users fa-lg"></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@ViewBag.totalTestimoni</h3>

                    <p>Jumlah Testimonial yang masuk</p>
                </div>
                <div class="icon">
                    <i class="fas fa-list-alt fa-lg "></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
            <div id="chartContainer1" style="height: 400px; width: 100%;">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <div id="chartContainer2" style="height: 400px; width: 100%;">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript">
        window.onload = function () {

            var chart1 = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                exportEnabled: true,
                theme: "light2",
	            title: {
		            text: "Persentase Guru dan Murid (%)"
	            },
	            data: [{
		            type: "doughnut",
		            startAngle: 60,
		            indexLabelFontSize: 16,
		            indexLabel: "{label} - {y}%",
		            toolTipContent: "<b>{label}:</b> {y}%",
		            dataPoints: @Html.Raw(ViewBag.DataPoints1),
	            }]
            });

            var chart2 = new CanvasJS.Chart("chartContainer2", {
                animationEnabled: true,
                exportEnabled: true,
                theme: "light2",
	            title: {
		            text: "Penambahan Sekolah Baru (Perbulan)"
	            },
	            toolTip: {
		            shared: true
	            },
	            data: [{
		            type: "line",
		            name: "Jumlah sekolah baru",
                    showInLegend: true,
		            dataPoints: @Html.Raw(ViewBag.DataPoints2),
	            }]
            });

            chart1.render();
            chart2.render();

            function explodePie(e) {
	            if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	            } else {
		            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
	            }
	            e.chart2.render();
            }
        }
</script>
