﻿@{
    ViewBag.Title = "JoinVideo";
}

<body>
    <button id="btnVideo">Bergabung ke kelas virtual</button>
    <div id="meet" style="width:auto; margin:auto"></div>
</body>

<script src='https://meet.jit.si/external_api.js'></script>
<script>
    var btn = document.getElementById("btnVideo");
    btn.addEventListener("click", startVideo);

    function startVideo() {
        const domain = 'meet.jit.si';
        const myOverwrite =
        {
            'TOOLBAR_BUTTONS': [
                'microphone', 'camera', 'closedcaptions', 'desktop', 'fullscreen',
                'hangup', 'profile', 'etherpad', 'sharedvideo', 'settings', 'raisehand',
                'videoquality', 'filmstrip', 'feedback', 'shortcuts',
                'tileview', 'videobackgroundblur', 'download', 'help'
            ]
        };
        const options = {
            width: 1280,
            height: 720,
            interfaceConfigOverwrite: myOverwrite,
            @*configOverwrite: {
                remoteVideoMenu:
                {
                    disableKick: true,
                    disableRemoteMute: true,
                },
                prejoinPageEnabled: true,
                disableRemoteMute: true,

            },*@
            parentNode: document.querySelector('#meet')
        };
        const api = new JitsiMeetExternalAPI(domain, options);

        api.addEventListener('participantRoleChanged', function (event) {
            if (event.role == 'moderator') {
                api.executeCommand('password', roomPass);
            }
            else {
                setTimeout(() => {
                    api.addEventListener('passwordRequired', () => {
                        api.executeCommand('password', pass);
                    });
                    api.addEventListener('videoConferenceJoined', (response) => {
                        setTimeout(function () { api.executeCommand('password', pass); }, 300);
                    });

                }, 10);
            }
        });
    }
</script>