﻿
@{
    ViewBag.Title = "KontakKami";
}

<div class="tab-content">

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgDelete" style="color:red;"></h5>
                    <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                    <button type="button" class="btn btn-primary" id="btnReload" style="display:none;">Refresh Tabel</button>
                </div>
            </div>
        </div>
    </div>

    <table id="tabelTestimoni" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Email</th>
                <th>Subjek</th>
                <th>Pesan</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="hidden" id="deleteId" />
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#tabelTestimoni").DataTable({
            "ajax": {
                "url": "@Url.Action("DataKontakKami", "SA")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Pk_Id_Kontak_Kami" },
                { "data": "Nama" },
                { "data": "Email" },
                { "data": "Subjek" },
                { "data": "Pesan" },
                {
                    "data": "Pk_Id_Kontak_Kami",
                    mRender: function (data) {
                        var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="Details(' + data + ')">Details</a>';
                        var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>'

                        return linkEdit + " " + linkDelete;
                    }
                }
            ]
        });

        $('#btnReload').click(function () {
            location.reload(true);
        });
    });

    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#deleteId').val(id) = id;
    }

    //function for deleting record
    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeleteFeedback/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function () {
                $('#msgDelete').text("Berhasil menghapus data !");
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
                $('#btnReload').show();
                $('#btnCancel').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

</script>

