﻿
@model WIAClass.Models.CrudNilaiTugas

@{
    ViewBag.Title = "NilaiHarian";
}

@*Modal memberi nilai*@
<div class="modal fade" id="nilaiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Memberi Nilai Tugas</h4>
            </div>
            <div class="modal-body">
                <h5 id="msgNilai" style="color:green;"></h5>
                <form id="formInput">
                    <div class="form-group">
                        <label for="IdNilai">No</label>
                        <input type="text" class="form-control" id="IdNilai" placeholder="Input Otomatis" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="NilaiTugas">Nilai<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                        <input type="text" class="form-control" id="NilaiTugas" />
                    </div>
                    <div class="form-group">
                        <label for="Status">Status<span style="font-weight:bold; color:red; font-size:18px">*</span></label><br />
                        <select class="custom-select" id="Status">
                            <option selected value="1">Tepat Waktu</option>
                            <option value="2">Terlambat</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                <button type="button" class="btn btn-primary" id="btnNilai" onclick="return Score();">Simpan</button>
                <button type="button" class="btn btn-primary" id="btnReload2" style="display:none;">Refresh Tabel</button>
            </div>
        </div>
    </div>
</div>

