﻿@model WIAClass.Models.Tbl_Pertanyaan

@{
    ViewBag.Title = "QuizStart";
}

<h2>QuizStart</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="container containeropsi">
            <div class="row">
                <h1>@Html.DisplayFor(x => x.Pertanyaan)</h1>
            </div>
            <div class="row">
                <h3>@Html.RadioButtonFor(x => x.OptA, new { @class = "form-control" }) @Model.OptA</h3>
            </div>
            <div class="row">
                <h3>@Html.RadioButtonFor(x => x.OptB, new { @class = "form-control" }) @Model.OptB</h3>
            </div>
            <div class="row">
                <h3>@Html.RadioButtonFor(x => x.OptC, new { @class = "form-control" }) @Model.OptC</h3>
            </div>
            <div class="row">
                <h3>@Html.RadioButtonFor(x => x.OptD, new { @class = "form-control" }) @Model.OptD</h3>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-success" value="submit" />
            </div>
            <div>
                <h1>@TempData["nilai"]</h1>
            </div>
        </div>
    </div>
}

<script>
    $('input[type=radio]').change(function(){
    if (this.checked)
    {
        $(this).closest('.containeropsi')
            .find('input[type=radio]').not(this)
            .prop('checked', false);
    }
});
</script>