﻿@{
    ViewBag.Title = "Pilih quiz yang ingin dilakukan";
    <span style="color:blue; font-size:24px">Daftar Kuis Anda &emsp;</span>
}

<div class="tab-content">

    <table id="tabelKuis" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>Nama Kuis</th>
                <th>Waktu Pemberian</th>
                <th>Batas Pengumpulan</th>
                <th>Nama Guru</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="hidden" id="tugasid" />
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelKuis").DataTable({
            "ajax": {
                "url": "@Url.Action("DataKuis", "Siswa")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "KatName" },
                {
                    "data": "MulaiQuiz",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                {
                    "data": "BatasQuiz",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Fk_Id_Guru" },
                {
                    "data": "Pk_Id_Kategori",
                    mRender: function (data) {
                        var linkQuestions = '@Html.ActionLink("Kerjakan Kuis", "Quiz", new {id = -1 }, FormMethod.Get)';
                        linkQuestions = linkQuestions.replace("-1", data);

                        return linkQuestions;
                    }
                }
            ]
        });
    });
</script>