﻿@model WIAClass.Models.CrudSekolahModel

@{
    ViewBag.Title = "Management Data Sekolah";
}

<div class="tab-content">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="clearTextBox();">+ Tambah Data Sekolah</a>
    <br />
    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Data Sekolah</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgEdit" style="color:green;"></h5>
                    <form id="formInput">
                        <div class="form-group">
                            <label for="IDSekolah">ID Sekolah</label>
                            <input type="text" class="form-control" id="IDSekolah" placeholder="Input Otomatis" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="Name">Nama Sekolah <span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="text" class="form-control" id="Name" placeholder="" />
                            <p id="resultName"></p>
                        </div>
                        <div class="form-group">
                            <label for="NoTelp">No. Telp <span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="text" class="form-control" id="NoTelp" placeholder="" />
                            <p id="resultNoTelp"></p>
                        </div>
                        <div class="form-group">
                            <label for="Email">Email <span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="email" class="form-control" id="Email" placeholder="" />
                            <p id="resultEmail"></p>
                        </div>
                        <div class="form-group">
                            <label for="Password">Password<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <div class="input-group" id="show_hide_password">
                                <input class="form-control" type="password" id="Password">
                                <div class="input-group-addon">
                                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <p id="resultPassword"></p>
                        </div>
                        <div class="form-group">
                            <label for="Alamat">Alamat Sekolah <span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="text" class="form-control" id="Alamat" placeholder="" />
                            <p id="resultAlamat"></p>
                        </div>
                    </form>
                    <p id="note" style="font-size:14px"><u>Keterangan :</u><br /><span style="font-weight:bold; color:red">*</span> Kolom harus diisi</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return CheckEmail('add');">Tambah Data</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="CheckEmail('update');">Ubah Data</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgDelete" style="color:red;"></h5>
                    <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*<div class="tab-pane container active p-0" id="sekolah" style="margin-top:15px;">*@
    <table id="tabelSekolah" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>ID Sekolah</th>
                <th>Nama Sekolah</th>
                <th>No Telp</th>
                <th>Email</th>
                <th>Alamat</th>
                <th>Password (Hash)</th>
                <th>Status</th>
                <th>Kode Aktivasi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    @*</div>*@
    <input type="hidden" id="deleteId" />
    <input type="hidden" id="statusEmail" />
    <input type="hidden" id="oldEmail" />
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $("#tabelSekolah").DataTable({
            "ajax": {
                "url": "@Url.Action("DataSekolah", "SA")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Pk_Id_Sekolah" },
                { "data": "Nama_Sekolah" },
                { "data": "No_Telp" },
                { "data": "Email" },
                { "data": "Alamat" },
                { "data": "Password" },
                { "data": "Activated" },
                { "data": "ActivationCode" },
                {
                    "data": "Pk_Id_Sekolah",
                    mRender: function (data) {
                     var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="GetSekolahID('+ data +')">Ubah</a>';
                     var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>'

                     return linkEdit + " " + linkDelete;
                    }
                }
            ]
        });

        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });

    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#msgConfirm').show();
        $('#btnDelete').show();
        $('#msgDelete').text("");
        $('#deleteId').val(id) = id;
    }

    //Add Data Function
    function Add() {
        var res = validate();
        var res2 = validateEmail();
        if (res == false || res2 == false) {
            return false;
        }
        var sekolahObj = {
            Pk_Id_Sekolah: $('#IDSekolah').val(),
            Nama_Sekolah: $('#Name').val(),
            No_Telp: $('#NoTelp').val(),
            Email: $('#Email').val(),
            Password: $('#Password').val(),
            Alamat: $('#Alamat').val()
        };
        $.ajax({
            url: "@Url.Action("TambahDataSekolah", "SA")",
            data: JSON.stringify(sekolahObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#tabelSekolah').DataTable().ajax.reload();
                $('#msgEdit').text(result.message);
                $('#myModal').modal('hide');
                $('#formInput').hide();
                $('#note').hide();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Pk_Id_Sekolah
    function GetSekolahID(ID) {
        $('#formInput').show();
        $('#note').show();
        $('#btnAdd').show();
        $('#msgEdit').text('');
        $('#Name').css('border-color', 'lightgrey');
        $('#NoTelp').css('border-color', 'lightgrey');
        $('#Email').css('border-color', 'lightgrey');
        $('#Password').css('border-color', 'lightgrey');
        $('#Alamat').css('border-color', 'lightgrey');
        $('#resultName').text("");
        $('#resultNoTelp').text("");
        $('#resultEmail').text("");
        $('#resultPassword').text("");
        $('#resultAlamat').text("");

        $.ajax({
            url: "GetSekolahID/" + ID,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#IDSekolah').val(result.Pk_Id_Sekolah);
                $('#Name').val(result.Nama_Sekolah);
                $('#NoTelp').val(result.No_Telp);
                $('#Email').val(result.Email);
                $('#oldEmail').val(result.Email);
                $('#Password').val(result.Password);
                $('#Alamat').val(result.Alamat);

                $('#MyModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating (Edit)
    function Update() {
        var res = validate();
        var res2 = validateEmail();
        if (res == false || res2 == false) {
            return false;
        }
        var sekolahObj = {
            Pk_Id_Sekolah: $('#IDSekolah').val(),
            Nama_Sekolah: $('#Name').val(),
            No_Telp: $('#NoTelp').val(),
            Email: $('#Email').val(),
            Password: $('#Password').val(),
            Alamat: $('#Alamat').val(),
        };
        $.ajax({
            url: "EditSekolah/",
            data: JSON.stringify(sekolahObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#tabelSekolah').DataTable().ajax.reload();
                $('#myModal').modal('hide');
                $('#msgEdit').text(result.message);
                $('#note').hide();
                $('#formInput').hide();
                $('#btnUpdate').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    //function for deleting record
    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeleteSekolah/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $('#tabelSekolah').DataTable().ajax.reload();
                $('#msgDelete').text(result.message);
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#IDSekolah').val("");
        $('#Name').val("");
        $('#NoTelp').val("");
        $('#Email').val("");
        $('#Password').val("");
        $('#Alamat').val("");
        $('#resultName').text("");
        $('#resultNoTelp').text("");
        $('#resultEmail').text("");
        $('#resultPassword').text("");
        $('#resultAlamat').text("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#formInput').show();
        $('#note').show();
        $('#btnAdd').show();
        $('#msgEdit').text('');
        $('#Name').css('border-color', 'lightgrey');
        $('#NoTelp').css('border-color', 'lightgrey');
        $('#Email').css('border-color', 'lightgrey');
        $('#Alamat').css('border-color', 'lightgrey');
        $('#Password').css('border-color', 'lightgrey');
    }
    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($.isNumeric($('#NoTelp').val())) {
            $('#NoTelp').css('border-color', 'lightgrey');
            $('#resultNoTelp').text("");
        } else {
            $('#NoTelp').css('border-color', 'Red');
            $('#resultNoTelp').text("* Hanya boleh angka");
            $('#resultNoTelp').css("color", "red");
            isValid = false;
        }
        if ($('#Name').val().trim() == "") {
            $('#Name').css('border-color', 'Red');
            $('#resultName').text("* Tidak boleh kosong");
            $('#resultName').css("color", "red");
            isValid = false;
        }
        else {
            $('#Name').css('border-color', 'lightgrey');
            $('#resultName').text("");
        }
        if ($('#NoTelp').val().trim() == "") {
            $('#NoTelp').css('border-color', 'Red');
            $('#resultNoTelp').text("* Tidak boleh kosong");
            $('#resultNoTelp').css("color", "red");
            isValid = false;
        }
        else {
            $('#NoTelp').css('border-color', 'lightgrey');
        }
        if ($('#Email').val().trim() == "") {
            $('#Email').css('border-color', 'Red');
            $('#resultEmail').text("* Tidak boleh kosong");
            $('#resultEmail').css("color", "red");
            isValid = false;
        }
        else {
            $('#Email').css('border-color', 'lightgrey');
            $('#resultEmail').text("");
        }
        if ($('#Password').val().trim() == "") {
            $('#Password').css('border-color', 'Red');
            $('#resultPassword').text("* Tidak boleh kosong");
            $('#resultPassword').css("color", "red");
            isValid = false;
        }
        else {
            $('#Password').css('border-color', 'lightgrey');
            $('#resultPassword').text("");
        }
        if ($('#Alamat').val().trim() == "") {
            $('#Alamat').css('border-color', 'Red');
            $('#resultAlamat').text("* Tidak boleh kosong");
            $('#resultAlamat').css("color", "red");
            isValid = false;
        }
        else {
            $('#Alamat').css('border-color', 'lightgrey');
            $('#resultAlamat').text("");
        }
        return isValid;
    }

    function CheckEmail(stat) {
        var stat = stat;
        const Email = $("#Email").val();
        $.ajax({
            url: "CheckEmailSekolah",
            type: "get",
            data: {
                Emailcek: Email,
            },
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (data) {
                if (stat == 'add') {
                    $('#statusEmail').val("1");
                    Add();
                } else if (stat == 'update' && data.Email != $('#oldEmail').val()) {
                    $('#statusEmail').val("1");
                    Update();
                } else if (stat == 'update' && data.Email == $('#oldEmail').val()) {
                    $('#statusEmail').val("0");
                    Update();
                }
            },
            error: function () {
                if (stat == 'add') {
                    $('#statusEmail').val("0");
                    Add();
                } else if (stat == 'update') {
                    $('#statusEmail').val("0");
                    Update();
                }
            }
        });
    }

    function validateEmailFormat(Email) {
        const re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(Email);
    }

    function validateEmail() {
        const $resultEmail = $("#resultEmail");
        const $statusEmail = $("#statusEmail");
        const Email = $("#Email").val();
        $resultEmail.text("");
        var isValidEmail = true;

        if ($statusEmail.val() == "1") {
            $('#Email').css('border-color', 'Red');
            $resultEmail.text("* Email sudah terdaftar");
            $resultEmail.css("color", "red");
            isValidEmail = false;
        }
        else {
            if (validateEmailFormat(Email)) {
                $('#Email').css('border-color', 'lightgrey');
                $resultEmail.text("* Format email benar");
                $resultEmail.css("color", "green");
            } else {
                $('#Email').css('border-color', 'Red');
                $resultEmail.text("* Format email salah");
                $resultEmail.css("color", "red");
                isValidEmail = false;
            }
        }
        return isValidEmail;
    }

    $("#Email").on("input", validateEmail);
</script>

