﻿@model WIAClass.Models.CrudGuruModel

@{
    ViewBag.Title = "Management Data Guru";
}

<div class="tab-content">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="clearTextBox();" style="position:relative">+ Tambah Data Guru</a>
    <br />
    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Data Guru</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgEdit" style="color:green;"></h5>
                    <form id="formInput">
                        <div class="form-inline">
                            <input type="text" class="form-control" id="IDSekolah" placeholder="ID Sekolah" />
                            <a class="btn btn-info" onclick="cekSekolah();">Check ID</a>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label for="IDGuru">ID Guru</label>
                            <input type="text" class="form-control" id="IDGuru" placeholder="Input Otomatis" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="NIP">NIP <span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="text" class="form-control" id="NIP" placeholder="" />
                            <p id="resultNIP"></p>
                        </div>
                        <div class="form-group">
                            <label for="Name">Nama <span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="text" class="form-control" id="Name" placeholder="" />
                            <p id="resultName"></p>
                        </div>
                        <div class="form-group">
                            <label for="NoTelp">No. Telp</label>
                            <input type="text" class="form-control" id="NoTelp" placeholder="" />
                            <p id="resultNoTelp"></p>
                        </div>
                        <div class="form-group">
                            <label for="Email">Email <span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="email" class="form-control" id="Email" placeholder="" />
                            <p id="resultEmail"></p>
                        </div>
                        <div class="form-group">
                            <label for="Password">Password<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <div class="input-group" id="show_hide_password">
                                <input class="form-control" type="password" id="Password">
                                <div class="input-group-addon">
                                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <p id="resultPassword"></p>
                        </div>
                        <div class="form-group">
                            <label for="Mapel">Mata Pelajaran</label>
                            <br />
                            <select class="custom-select" id="Mapel" name="Mapel">
                            </select>
                            <p id="resultMapel"></p>
                        </div>
                        <div class="form-group">
                            <label for="Jekel">Jenis Kelamin</label>
                            <br />
                            <select class="custom-select" id="Jekel">
                                <option selected value="1">Laki-Laki</option>
                                <option value="2">Perempuan</option>
                            </select>
                        </div>
                    </form>
                    <p id="note" style="font-size:14px"><u>Keterangan :</u><br /><span style="font-weight:bold; color:red">*</span> Kolom harus diisi</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return CheckEmail('add');">Tambah Data</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="CheckEmail('update');">Ubah Data</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgDelete" style="color:red;"></h5>
                    <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*<div class="tab-pane container active p-0" id="guru" style="margin-top:15px;">*@
    <table id="tabelGuru" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>NIP</th>
                <th>Nama</th>
                <th>Email</th>
                <th>No Telp</th>
                <th>Sekolah</th>
                <th>Mata Pelajaran</th>
                <th>Jenis Kelamin</th>
                <th>Password</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    @*</div>*@
    <input type="hidden" id="deleteId" />
    <input type="hidden" id="statusEmail" />
    <input type="hidden" id="oldEmail" />
    <input type="hidden" id="hiddenIDSekolah" />

</div>

    <script type="text/javascript">

    $(document).ready(function () {
        $("#tabelGuru").DataTable({
            "ajax": {
                "url": "@Url.Action("DataGuru", "SA")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "NIP" },
                { "data": "Nama" },
                { "data": "Email" },
                { "data": "No_Telp" },
                { "data": "Sekolah" },
                { "data": "Mata_Pelajaran" },
                { "data": "Jenis_Kelamin" },
                { "data": "Password" },
                {
                    "data": "Pk_Id_Guru",
                    mRender: function (data) {
                     var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="GetGuruID('+ data +')">Ubah</a>';
                     var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>'

                     return linkEdit + " " + linkDelete;
                    }
                }
            ]
        });

        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });

    });
        let Confirm = function (id) {
            $('#deleteModal').modal('show');
            $('#msgConfirm').show();
            $('#btnDelete').show();
            $('#msgDelete').text("");
            $('#deleteId').val(id) = id;
        }

    //Add Data Function
    function Add() {
        var res = validate();
        var res2 = validateEmail();
        if (res == false || res2 == false) {
            return false;
        }
        var guruObj = {
            Pk_Id_Guru: $('#IDGuru').val(),
            NIP: $('#NIP').val(),
            Nama: $('#Name').val(),
            No_Telp: $('#NoTelp').val(),
            Email: $('#Email').val(),
            Password: $('#Password').val(),
            Fk_Id_Jenis_Kelamin: $('#Jekel').val(),
            Fk_Id_Mata_Pelajaran: $('#Mapel').val(),
            Fk_Id_Sekolah: $('#hiddenIDSekolah').val()
        };
        $.ajax({
            url: "@Url.Action("TambahDataGuru", "SA")",
            data: JSON.stringify(guruObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#tabelGuru').DataTable().ajax.reload();
                $('#myModal').modal('hide');
                $('#formInput').hide();
                $('#note').hide();
                $('#btnAdd').hide();
                $('#msgEdit').text(result.message);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Pk_Id_Guru
    function GetGuruID(IDGuru) {
        $('#formInput').show();
        $('#note').show();
        $('#btnAdd').show();
        $('#msgEdit').text('');
        $('#NIP').css('border-color', 'lightgrey');
        $('#Name').css('border-color', 'lightgrey');
        $('#NoTelp').css('border-color', 'lightgrey');
        $('#Email').css('border-color', 'lightgrey');
        $('#Password').css('border-color', 'lightgrey');
        $('#Mapel').css('border-color', 'lightgrey');
        $('#resultNIP').text("");
        $('#resultName').text("");
        $('#resultNoTelp').text("");
        $('#resultEmail').text("");
        $('#resultPassword').text("");
        $('#resultMapel').text("");
        $('#Mapel').find('option').remove();

        $.ajax({
            url: "GetGuruID/" + IDGuru,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#IDGuru').val(result.Pk_Id_Guru);
                $('#NIP').val(result.NIP);
                $('#Name').val(result.Nama);
                $('#NoTelp').val(result.No_Telp);
                $('#Email').val(result.Email);
                $('#oldEmail').val(result.Email);
                $('#Password').val(result.Password);
                $('#Jekel').val(result.Fk_Id_Jenis_Kelamin);
                $('#Mapel').val(result.Fk_Id_Mata_Pelajaran);
                $('#IDSekolah').val(result.Fk_Id_Sekolah);
                $('#hiddenIDSekolah').val(result.Fk_Id_Sekolah);

                $('#MyModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating (Edit)
    function Update() {
        var res = validate();
        var res2 = validateEmail();
        if (res == false || res2 == false) {
            return false;
        }
        var guruObj = {
            Pk_Id_Guru: $('#IDGuru').val(),
            NIP: $('#NIP').val(),
            Nama: $('#Name').val(),
            No_Telp: $('#NoTelp').val(),
            Email: $('#Email').val(),
            Password: $('#Password').val(),
            Fk_Id_Jenis_Kelamin: $('#Jekel').val(),
            Fk_Id_Mata_Pelajaran: $('#Mapel').val()
        };
        $.ajax({
            url: "EditGuru/",
            data: JSON.stringify(guruObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#myModal').modal('hide');
                $('#msgEdit').text(result.message);
                $('#note').hide();
                $('#formInput').hide();
                $('#btnUpdate').hide();
                $('#tabelGuru').DataTable().ajax.reload();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    //function for deleting record
    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeleteGuru/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function () {
                $('#msgDelete').text("Berhasil menghapus data !");
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
                $('#tabelGuru').DataTable().ajax.reload();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#IDSekolah').val();
        $('#hiddenIDSekolah').val();
        $('#IDGuru').val("");
        $('#NIP').val("");
        $('#Name').val("");
        $('#NoTelp').val("");
        $('#Email').val("");
        $('#Password').val("");
        $('#resultNIP').text("");
        $('#resultName').text("");
        $('#resultNoTelp').text("");
        $('#resultEmail').text("");
        $('#resultPassword').text("");
        $('#resultMapel').text("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#formInput').show();
        $('#note').show();
        $('#btnAdd').show();
        $('#msgEdit').text('');
        $('#NIP').css('border-color', 'lightgrey');
        $('#Name').css('border-color', 'lightgrey');
        $('#NoTelp').css('border-color', 'lightgrey');
        $('#Email').css('border-color', 'lightgrey');
        $('#Password').css('border-color', 'lightgrey');
        $('#Mapel').css('border-color', 'lightgrey');
    }

    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($.isNumeric($('#NIP').val())) {
            $('#NIP').css('border-color', 'lightgrey');
            $('#resultNIP').text("");
        } else {
            $('#NIP').css('border-color', 'Red');
            $('#resultNIP').text("* Hanya boleh angka");
            $('#resultNIP').css("color", "red");
            isValid = false;
        }
        if ($.isNumeric($('#NoTelp').val())) {
            $('#NoTelp').css('border-color', 'lightgrey');
            $('#resultNoTelp').text("");
        } else {
            $('#NoTelp').css('border-color', 'Red');
            $('#resultNoTelp').text("* Hanya boleh angka");
            $('#resultNoTelp').css("color", "red");
            isValid = false;
        }
        if ($('#NIP').val().trim() == "") {
            $('#NIP').css('border-color', 'Red');
            $('#resultNIP').text("* Tidak boleh kosong");
            $('#resultNIP').css("color", "red");
            isValid = false;
        }
        else {
            $('#NIP').css('border-color', 'lightgrey');
        }
        if ($('#Name').val().trim() == "") {
            $('#Name').css('border-color', 'Red');
            $('#resultName').text("* Tidak boleh kosong");
            $('#resultName').css("color", "red");
            isValid = false;
        }
        else {
            $('#Name').css('border-color', 'lightgrey');
            $('#resultName').text("");
        }
        if ($('#NoTelp').val().trim() == "") {
            $('#NoTelp').css('border-color', 'Red');
            $('#resultNoTelp').text("* Tidak boleh kosong");
            $('#resultNoTelp').css("color", "red");
            isValid = false;
        }
        else {
            $('#NoTelp').css('border-color', 'lightgrey');
        }
        if ($('#Email').val().trim() == "") {
            $('#Email').css('border-color', 'Red');
            $('#resultEmail').text("* Tidak boleh kosong");
            $('#resultEmail').css("color", "red");
            isValid = false;
        }
        else {
            $('#Email').css('border-color', 'lightgrey');
            $('#resultEmail').text("");
        }
        if ($('#Password').val().trim() == "") {
            $('#Password').css('border-color', 'Red');
            $('#resultPassword').text("* Tidak boleh kosong");
            $('#resultPassword').css("color", "red");
            isValid = false;
        }
        else {
            $('#Password').css('border-color', 'lightgrey');
            $('#resultPassword').text("");
        }
        if ($('#Mapel').val() == null) {
            $('#Mapel').css('border-color', 'Red');
            $('#resultMapel').text("*Pilih Mata Pelajaran, Jika anda belum memasukkan data mata pelajaran yang ada di sekolah anda, dimohon untuk memasukkan data tersebut terlebih dahulu");
            $('#resultMapel').css("color", "red");
            isValid = false;
        }
        else {
            $('#Mapel').css('border-color', 'lightgrey');
            $('#resultMapel').text("");
        }
        return isValid;
    }

    function CheckEmail(stat) {
        var stat = stat;
        const Email = $("#Email").val();
        $.ajax({
            url: "CheckEmailGuru",
            type: "get",
            data: {
                Emailcek: Email,
            },
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (data) {
                if (stat == 'add') {
                    $('#statusEmail').val("1");
                    Add();
                } else if (stat == 'update' && data.Email != $('#oldEmail').val()) {
                    $('#statusEmail').val("1");
                    Update();
                } else if (stat == 'update' && data.Email == $('#oldEmail').val()) {
                    $('#statusEmail').val("0");
                    Update();
                }
            },
            error: function () {
                if (stat == 'add') {
                    $('#statusEmail').val("0");
                    Add();
                } else if (stat == 'update') {
                    $('#statusEmail').val("0");
                    Update();
                }
            }
        });
    }

    function validateEmailFormat(Email) {
        const re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(Email);
    }

    function validateEmail() {
        const $resultEmail = $("#resultEmail");
        const $statusEmail = $("#statusEmail");
        const Email = $("#Email").val();
        $resultEmail.text("");
        var isValidEmail = true;

        if ($statusEmail.val() == "1") {
            $('#Email').css('border-color', 'Red');
            $resultEmail.text("* Email sudah terdaftar");
            $resultEmail.css("color", "red");
            isValidEmail = false;
        }
        else {
            if (validateEmailFormat(Email)) {
                $('#Email').css('border-color', 'lightgrey');
                $resultEmail.text("* Format email benar");
                $resultEmail.css("color", "green");
            } else {
                $('#Email').css('border-color', 'Red');
                $resultEmail.text("* Format email salah");
                $resultEmail.css("color", "red");
                isValidEmail = false;
            }
        }
        return isValidEmail;
        }

        function cekSekolah() {
            $('#Mapel').find('option').remove();
            var idSekolah = $('#IDSekolah').val();
            $.ajax({
                url: "GetIDSekolahGuru/" + idSekolah,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    $('#myModalLabel').text("Data Guru " + data.NamaSekolah);
                    $('#hiddenIDSekolah').val(idSekolah);
                    $.each(data.listMapel, function (i) {

                        var optionhtml = '<option value="' +
                            data.listMapel[i].Value + '">' + data.listMapel[i].Text + '</option>';
                        $('#Mapel').append(optionhtml);
                    });
                },
            });
        }

        $("#Email").on("input", validateEmail);

    </script>
