﻿@model WIAClass.Models.AuditTrailModel

@{
    ViewBag.Title = "Management AuditTrail";
}

<h3>Audit Trail Error</h3>
<div class="tab-content">
    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Data AuditTrail</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgEdit" style="color:green;"></h5>
                    <form id="formInput">
                        <div class="form-group">
                            <label for="IDAuditTrail">ID AuditTrail</label>
                            <input type="text" class="form-control" id="IDAuditTrail" placeholder="Input Otomatis" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="ErrorMsg" placeholder="" disabled="disabled"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="UserLogin" placeholder="" disabled="disabled"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="ErrorDate" placeholder="" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="ErrorSection" placeholder="" disabled="disabled"/>
                        </div>
                        <div class="form-group">
                            <label for="ErrorAction">Error Action</label>
                            <input type="text" class="form-control" id="ErrorAction" placeholder="" />
                            <p id="resultErrorAction"></p>
                        </div>
                    </form>
                    <p id="note" style="font-size:14px"><u>Keterangan :</u><br /><span style="font-weight:bold; color:red">*</span> Kolom harus diisi</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Simpan Perubahan</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgDelete" style="color:red;"></h5>
                    <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*<div class="tab-pane container active p-0" id="AuditTrail" style="margin-top:15px;">*@
    <table id="tabelAuditTrail" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>ID</th>
                <th>Error Message</th>
                <th>User Login</th>
                <th>Error Date</th>
                <th>Error Section</th>
                <th>Error Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    @*</div>*@
    <input type="hidden" id="deleteId" />

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#tabelAuditTrail").DataTable({
            "ajax": {
                "url": "@Url.Action("DataAuditTrail", "SA")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Pk_Id_AuditTrail" },
                { "data": "Error_msg" },
                { "data": "User_login" },
                {
                    "data": "Error_date",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var MM = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        var HH = dateFull.getHours();
                        var mm = dateFull.getMinutes();
                        var ss = dateFull.getSeconds();

                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (MM < 10) {
                            MM = '0' + MM;
                        }
                        var today = MM + '/' + dd + '/' + yyyy + " (" + HH + ":" + mm + ":" + ss + ")";
                        return today;
                    },
                },
                { "data": "Error_section" },
                { "data": "Error_action" },
                {
                    "data": "Pk_Id_AuditTrail",
                    mRender: function (data) {
                        var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="GetAuditTrailID('+ data +')">Ubah</a>';
                     var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>'

                     return linkEdit + " " + linkDelete;
                    }
                }
            ],
            "order": [[0, "desc"]]
        });

    });
        var Confirm = function (id) {
            $('#deleteModal').modal('show');
            $('#msgConfirm').show();
            $('#btnDelete').show();
            $('#msgDelete').text("");
            $('#deleteId').val(id) = id;
        }

    //Function for getting the Data Based upon Pk_Id_AuditTrail
    function GetAuditTrailID(IdAT) {
        $('#formInput').show();
        $('#note').show();
        $('#btnAdd').show();
        $('#msgEdit').text('');
        $('#ErrorMsg').css('border-color', 'lightgrey');
        $('#UserLogin').css('border-color', 'lightgrey');
        $('#ErrorDate').css('border-color', 'lightgrey');
        $('#ErrorSection').css('border-color', 'lightgrey');
        $('#ErrorAction').css('border-color', 'lightgrey');
        $('#resultErrorAction').text("");
        $('#ErrorMsg').hide();
        $('#UserLogin').hide();
        $('#ErrorDate').hide();
        $('#ErrorSection').hide();

        $.ajax({
            url: "GetAuditTrailID/" + IdAT,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#IDAuditTrail').val(result.Pk_Id_AuditTrail);
                $('#ErrorAction').val(result.Error_action);

                $('#MyModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating (Edit)
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var auditTrailObj = {
            Pk_Id_AuditTrail: $('#IDAuditTrail').val(),
            Error_action: $('#ErrorAction').val(),
        };
        $.ajax({
            url: "EditAuditTrail/",
            data: JSON.stringify(auditTrailObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#myModal').modal('hide');
                $('#msgEdit').text(result.message);
                $('#note').hide();
                $('#formInput').hide();
                $('#btnUpdate').hide();
                $('#tabelAuditTrail').DataTable().ajax.reload();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    //function for deleting record
        function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeleteAuditTrail/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $('#msgDelete').text(result.message);
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
                $('#tabelAuditTrail').DataTable().ajax.reload();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#ErrorAction').val().trim() == "") {
            $('#ErrorAction').css('border-color', 'Red');
            $('#resultErrorAction').text("* Tidak boleh kosong");
            $('#resultErrorAction').css("color", "red");
            isValid = false;
        }
        else {
            $('#ErrorAction').css('border-color', 'lightgrey');
            $('#resultErrorAction').text("");
        }
        return isValid;
    }
</script>
