﻿
@{
    ViewBag.Title = "TestimonialSiswa";
}

<body>
    <section class="content">
        <div class="card-body mx-auto" style="max-width: 800px;">
            <div class="row">
                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="textTesti" placeholder="Silahkan tuliskan testimonial anda disini, Testimonial anda bisa saja akan ditampilkan pada halaman utama dari Wia Class" rows="4" style="overflow: hidden; word-wrap: break-word; "></textarea>
                        </div>
                    </form>
                    <br />
                    <button type="button" onclick="return AddTestimoni();" class="btn btn-secondary btn-lg float-right">Kirim Testimonial</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Keterangan</h4>
                    </div>
                    <div class="modal-body">
                        <p>Anda berhasil menambahkan Testimonial, terima kasih atas partisipasinya, seluruh masukan anda menjadi penyemangat kami dalam mengembangkan aplikasi ini</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Kembali</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<style>

    #textTesti {
        max-width: 100%;
        width: 750px;
        height: 300px;
        overflow: hidden;
        color: #222;
        font-family: Courier, monospace;
        font-weight: bold;
        font-size: 18px;
        line-height: 40px;
        padding-left: 100px;
        padding-right: 20px;
        padding-top: 45px;
        padding-bottom: 34px;
        background-image: url(../../assets/adminlte/img/lines.png), url(../../assets/adminlte/img/paper.png);
        background-repeat: repeat-y, repeat;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        -webkit-box-shadow: 0px 2px 14px #000;
        box-shadow: 0px 2px 14px #000;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
    }
</style>

<script>

    //Add Data Function
    function AddTestimoni() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var testObj = {
            Testimoni: $('#textTesti').val(),
        }
        $.ajax({
            url: "@Url.Action("Testimonial", "Siswa")",
            data: JSON.stringify(testObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#successModal').modal('show');
                $('#textTesti').val("");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#textTesti').val().trim() == "") {
            $('#textTesti').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#textTesti').css('border-color', 'lightgrey');
        }
        return isValid;
    }
</script>

