﻿@{
    ViewBag.Title = "Video";
}

<body>
    <input type="text" id="RoomName" placeholder="Masukkan nama room disini" />
    <input type="text" id="RoomPass" placeholder="Masukkan password room disini" />
    <button id="btnVideo">Mulai kelas virtual</button>
    <div id="meet" style="width:auto; margin:auto"></div>
</body>

<script src='https://meet.jit.si/external_api.js'></script>
<script>
    var btn = document.getElementById("btnVideo");
    btn.addEventListener("click", startVideo);

    function getInputValue() {
        // Selecting the input element and get its value
        var inputVal = document.getElementById("myInput").value;

        // Displaying the value
        alert(inputVal);
    }

    function startVideo() {
        var roomName = document.getElementById("RoomName").value;
        var roomPass = document.getElementById("RoomPass").value;
        const domain = 'meet.jit.si';
        const myOverwrite =
        {
            'TOOLBAR_BUTTONS': [
                'microphone', 'camera', 'closedcaptions', 'desktop', 'fullscreen',
                'hangup', 'chat', 'recording', 'etherpad', 'settings', 'raisehand',
                'videoquality', 'filmstrip', 'invite', 'feedback', 'stats', 'shortcuts',
                'tileview', 'videobackgroundblur', 'download', 'help', 'security'
            ]
        };
        const options = {
            roomName: roomName,
            width: 1280,
            height: 720,
            interfaceConfigOverwrite: myOverwrite,
            configOverwrite: {
                prejoinPageEnabled: true,
                remoteVideoMenu:
                {
                    disableKick: true,
                    disableRemoteMute: true,
                },
                prejoinPageEnabled: true,
                disableRemoteMute: true,

            },
            parentNode: document.querySelector('#meet')
        };
        const api = new JitsiMeetExternalAPI(domain, options);

        api.addEventListener('participantRoleChanged', function (event) {
            if (event.role == 'moderator') {
                api.executeCommand('password', roomPass);
            }
            else {
                setTimeout(() => {
                    api.addEventListener('passwordRequired', () => {
                        api.executeCommand('password', pass);
                    });
                    api.addEventListener('videoConferenceJoined', (response) => {
                        setTimeout(function () { api.executeCommand('password', pass); }, 300);
                    });

                }, 10);
            }
        });
    }
</script>