﻿@model WIAClass.Models.CrudPengumuman
@{
    ViewBag.Title = "Buat Pengumuman";
}

<link rel="stylesheet" href="~/assets/adminlte/plugins/summernote/summernote-bs4.min.css">
<body>
    <div class="container">
        <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
        <div class="col-md-auto">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title"><b>Menambahkan Pengumuman</b></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control" id="judulPengumuman" name="judulPengumuman" placeholder="Judul Pengumuman">
                        <div class="form-group">
                            <select class="custom-select" id="gambarBg">
                                <option value="" selected disabled>-- Pilih Background --</option>
                                <option value="Anjing">Anjing</option>
                                <option value="Ayam">Ayam</option>
                                <option value="Babi">Babi</option>
                                <option value="Bebek">Bebek</option>
                                <option value="Beruang">Beruang</option>
                                <option value="Burung">Burung</option>
                                <option value="Gajah">Gajah</option>
                                <option value="Harimau">Harimau</option>
                                <option value="Jerapah">Jerapah</option>
                                <option value="Kelinci">Kelinci</option>
                                <option value="Panda">Panda</option>
                                <option value="Rubah">Rubah</option>
                                <option value="Rusa">Rusa</option>
                                <option value="Sapi">Sapi</option>
                                <option value="Singa">Singa</option>
                                <option value="Tupai">Tupai</option>
                            </select>
                            <p id="resultMapel"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea id="summernote" class="form-control" style="height: 300px">
                    </textarea>
                    </div>
                    @*<div class="form-group">
                        <div class="btn btn-default btn-file">
                            <i class="fas fa-paperclip"></i> File Tambahan
                            <input type="file" name="attachment">
                        </div>
                        <p class="help-block">Max. 10MB</p>
                    </div>*@
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="float-right">
                        <a href="#" class="btn btn-primary" onclick="saveContent();">Simpan Pengumuman</a>
                    </div>
                    <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
                </div>
                <!-- /.card-footer -->
            </div>
            <div id="data-container"></div>
            <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Keterangan</h4>
                        </div>
                        <div class="modal-body">
                            <h4 id="resultPengumuman" style="color:green"></h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Kembali</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</body>

<script src="~/assets/adminlte/plugins/summernote/summernote-bs4.min.js"></script>
<script>
    $(function () {
        //Add text editor
        $('#summernote').summernote()
    })

    function saveContent() {
        var res = validate();
        if (res == false) {
            return false;
        }
        let content = $('#summernote').summernote('code');
        //$("#data-container").html(content);

        let pObj = {
            Judul_pengumuman: $('#judulPengumuman').val(),
            Pengumuman: content,
            Background: $('#gambarBg').val(),
        }
        $.ajax({
            url: "@Url.Action("BuatPengumuman", "Admin")",
            data: JSON.stringify(pObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#successModal').modal('show');
                $('#resultPengumuman').text(result.message);
                $("#summernote").summernote("reset");
                $('#judulPengumuman').val('');
            },
            error: function (result) {
                alert(result.message);
            }
        });
    }

    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#judulPengumuman').val().trim() == "") {
            $('#judulPengumuman').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#judulPengumuman').css('border-color', 'lightgrey');
        }
        if ($('#summernote').summernote("isEmpty")) {
            alert('Anda Belum menuliskan apapun');
            isValid = false;
        }
        if ($('#gambarBg').val() == null) {
            $('#gambarBg').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#gambarBg').css('border-color', 'lightgrey');
        }
        return isValid;
    }
</script>
