﻿@model WIAClass.Models.ProfileModel

@{
    ViewBag.Title = "EditProfil";
}

<body>
    <div class="container">
        <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img class="rect-img elevation-3" src="~/Upload/profile/@Model.Image" alt="">
                                <div class="mt-3">
                                    <h4>@Model.Nama</h4>
                                    <p class="text-secondary mb-1">@Model.Email</p>
                                    <p class="text-muted font-size-sm">@Model.Alamat</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nama Sekolah</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="Nama" value="@Model.Nama">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="Email" value="@Model.Email">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">No. Telp</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="NoTelp" value="@Model.No_Telp">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Alamat</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="Alamat" value="@Model.Alamat">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <button type="button" class="btn btn-primary" id="btnEdit" onclick="Edit();">Simpan Perubahan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                            </div>
                            <div class="modal-body">
                                <h5 id="msgConfirm" style="color:green">Berhasil mengubah data</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="btnReload">Kembali ke Profil</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="editId" value="@Model.Pk_Id_Sekolah" />
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnReload').click(function () {
            window.location.href = "@Url.Action("Profil", "Admin")"
        });
    });

    //function for updating (Edit)
    function Edit() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var sekolahObj = {
            Pk_Id_Sekolah: $('#editId').val(),
            Nama_Sekolah: $('#Nama').val(),
            No_Telp: $('#NoTelp').val(),
            Email: $('#Email').val(),
            Alamat: $('#Alamat').val(),
        };
        $.ajax({
            url: "EditProfil/",
            data: JSON.stringify(sekolahObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#popupModal').modal('show');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#Nama').val().trim() == "") {
            $('#Nama').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Nama').css('border-color', 'lightgrey');
        }
        if ($('#NoTelp').val().trim() == "") {
            $('#NoTelp').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#NoTelp').css('border-color', 'lightgrey');
        }
        if ($('#Email').val().trim() == "") {
            $('#Email').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Email').css('border-color', 'lightgrey');
        }
        if ($('#Alamat').val().trim() == "") {
            $('#Alamat').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Alamat').css('border-color', 'lightgrey');
        }
        return isValid;
    }
</script>

