﻿@model WIAClass.Models.Tbl_Pengumuman

<div class="card">
    <div id="data-container" class="mx-5 my-3"></div>
    <input type="hidden" id="pengumuman" value="@Model.Pengumuman" />
</div>

<style>
    img {
        max-width: 100%;
    }
</style>

<script>
    $(document).ready(function () {
        var pgmn = $('#pengumuman').val();
        $("#data-container").html(pgmn);
    });
</script>
