﻿
@{
    ViewBag.Title = "Manage Pengumuman";
}

<div class="tab-content">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgDelete" style="color:red;"></h5>
                    <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Keterangan</h5>
                </div>
                <div class="modal-body">
                    <h5 style="color:green;" id="msgSuccess"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                </div>
            </div>
        </div>
    </div>

    <table id="tabelPengumuman" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>Waktu</th>
                <th>Judul Pengumuman</th>
                <th>Background</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="hidden" id="deleteId" />
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#tabelPengumuman").DataTable({
            "ajax": {
                "url": "@Url.Action("DataPengumuman", "Admin")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "Waktu",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Judul_Pengumuman" },
                { "data": "Background" },
                { "data": "status" },
                {
                    "data": "Pk_Id_Pengumuman",
                    mRender: function (data) {
                        var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="Tampilkan(' + data + ')">Ganti Status</a>';
                        var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>';
                        var linkDetails = '<a class="btn btn-primary" href="@Url.Action("LihatPengumuman", "Admin", new {id = -1 })">Lihat Pengumuman</a>';
                        linkDetails = linkDetails.replace("-1", data);

                        return linkEdit + " " + linkDelete + " " + linkDetails ;
                    }
                }
            ],
            "order": [[0, "asc"]]
        });
    });

    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#deleteId').val(id) = id;
        $('#msgConfirm').show();
        $('#btnDelete').show();
        $('#btnCancel').show();
    }

    //function for deleting record
    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeletePengumuman/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
                $('#tabelPengumuman').DataTable().ajax.reload();
                $('#msgDelete').text(result.message);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Tampilkan(ID) {
        $('#statusModal').modal('show');
        $.ajax({
            url: "TampilkanPengumuman",
            type: "post",
            data: {
                ID: ID,
            },
            success: function (result) {
                $('#tabelPengumuman').DataTable().ajax.reload();
                $('#msgSuccess').text(result.message);
            },
        });
    }

</script>
