﻿<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">

    <div class="tab-content" style="position:relative">
        @{
            ViewBag.Title = "Halaman Rekap Kehadiran";
            <h4>Rekapitulasi Kehadiran : @Session["namaSekolah"]</h4><br />
        }

        <table id="tabelRekapKehadiran" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>Tanggal</th>
                    <th>Nama</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelRekapKehadiran").DataTable({
            "ajax": {
                "url": "@Url.Action("DataRekapAbsensi", "Admin")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "Tanggal",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var MM = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        var HH = dateFull.getHours();
                        var mm = dateFull.getMinutes();

                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (MM < 10) {
                            MM = '0' + MM;
                        }
                        var today = MM + '/' + dd  + '/' + yyyy + " (" + HH + ":" + mm + ")";
                        return today;
                    },
                },
                { "data": "Nama" },
                { "data": "Role" },
                { "data": "Status" }
            ],
            "order": [[0, "desc"]]
        });
    });
</script>

