﻿<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">

    <div class="tab-content" style="position:relative">
        @{
            ViewBag.Title = "Halaman Request Approval";
            <h4>Validasi Absensi Guru</h4>
            <br />
        }
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgDelete" style="color:red;"></h5>
                    <h5 id="msgConfirm">Apakah anda yakin untuk menghapus request ini?</h5>
                    <h5 id="msgInfo"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                    <button type="button" class="btn btn-primary" id="btnReload2" style="display:none;">Refresh Tabel</button>
                </div>
            </div>
        </div>
    </div>
    <table id="tabelRequestAbsensi" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Nama Mata Pelajaran</th>
                <th>Nama Guru</th>
                <th>Status</th>
                <th>Status Absensi</th>
                <th>Url File</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="hidden" id="deleteId" />
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelRequestAbsensi").DataTable({
            "ajax": {
                "url": "@Url.Action("DataRequestAbsenGuru", "Admin")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "No"},
                {
                    "data": "Tanggal",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Nama_Mata_Pelajaran" },
                { "data": "Nama_Guru" },
                { "data": "Status" },
                { "data": "Status_Absensi" },
                { "data": "Url_File" },
                {
                    "data": "Pk_Id_Absensi",
                    mRender: function (data) {
                    var linkEdit = '<a href="#" class="btn btn-outline-primary" onclick="Ubah(' + data + ');">Ubah Status</a>';
                    var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>';
                    var linkDownload = '<a class="btn btn-primary" href="@Url.Action("DownloadFile", "Admin", new {id = -1 })">Download</a>';
                    linkDownload = linkDownload.replace("-1", data);

                    return linkEdit + " " + linkDelete + " " + linkDownload;
                    }
                }
            ]
        });
    });

    function Ubah(ID) {
        $.ajax({
            url: "TerimaRequest",
            type: "post",
            data: {
                ID: ID,
            },
            success: function () {
                location.reload(true);
            },
        });
    }
    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#deleteId').val(id) = id;
    }

    $('#btnReload2').click(function () {
        location.reload(true);
    });

    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeleteAbsensiGuru/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function () {
                $('#msgDelete').text("Berhasil menghapus data !");
                $('#msgConfirm').hide();
                $('#msgInfo').hide();
                $('#btnDelete').hide();
                $('#btnReload2').show();
                $('#btnCancel2').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>