﻿@model WIAClass.Models.CrudMapelModel

@{
    ViewBag.Title = "Management Data Mata Pelajaran";
}

<div class="tab-content">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="clearTextBox();" style="position:relative">+ Tambah Mata Pelajaran</a>
    <br />
    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Data Mata Pelajaran</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgEdit" style="color:green;"></h5>
                    <form id="formInput">
                        <div class="form-group" style="display:none;">
                            <label for="IDMapel">ID Mata Pelajaran</label>
                            <input type="text" class="form-control" id="IDMapel" placeholder="Input Otomatis" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="KodeMapel">Kode Mata Pelajaran<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="text" class="form-control" id="KodeMapel" placeholder="" />
                            <p id="resultKodeMapel"></p>
                        </div>
                        <div class="form-group">
                            <label for="NamaMapel">Nama Mata Pelajaran<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="text" class="form-control" id="NamaMapel" placeholder="" />
                            <p id="resultNamaMapel"></p>
                        </div>
                    </form>
                    <p id="note" style="font-size:14px"><u>Keterangan :</u><br /><span style="font-weight:bold; color:red">*</span> Kolom harus diisi</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Tambah Data</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Ubah Data</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgDelete" style="color:red;"></h5>
                    <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <table id="tabelMapel" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>Kode Mata Pelajaran</th>
                <th>Nama Mata Pelajaran</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="hidden" id="deleteId" />
    <input type="hidden" id="hiddenIDSekolah" />
</div>

<script type="text/javascript">

    $(document).ready(function () {

        //Tabel mapel
        $("#tabelMapel").DataTable({
            "ajax": {
                "url": "@Url.Action("DataMapel", "Admin")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Kode_Mata_Pelajaran" },
                { "data": "Nama_Mata_Pelajaran" },
                {
                    "data": "Pk_Id_Mata_Pelajaran",
                    mRender: function (data) {
                     var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="GetMapelID('+ data +')">Ubah</a>';
                     var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>'

                     return linkEdit + " " + linkDelete;
                    }
                }
            ]
        });

    });

    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#msgConfirm').show();
        $('#btnDelete').show();
        $('#msgDelete').text("");
        $('#deleteId').val(id) = id;
    }

        //Add Data Function
    function Add() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var mapelObj = {
            Pk_Id_Mata_Pelajaran: $('#IDMapel').val(),
            Kode_Mata_Pelajaran: $('#KodeMapel').val(),
            Nama_Mata_Pelajaran: $('#NamaMapel').val(),
        };
        $.ajax({
            url: "@Url.Action("TambahDataMapel", "Admin")",
            data: JSON.stringify(mapelObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#tabelMapel').DataTable().ajax.reload();
                $('#myModal').modal('hide');
                $('#formInput').hide();
                $('#note').hide();
                $('#btnAdd').hide();
                $('#msgEdit').text(result.message);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Pk_Id_Mata_Pelajaran
    function GetMapelID(IDMapel) {
        $('#formInput').show();
        $('#note').show();
        $('#btnAdd').show();
        $('#msgEdit').text('');
        $('#KodeMapel').css('border-color', 'lightgrey');
        $('#NamaMapel').css('border-color', 'lightgrey');
        $('#resultKodeMapel').text("");
        $('#resultNamaMapel').text("");

        $.ajax({
            url: "GetMapelID/" + IDMapel,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#IDMapel').val(result.Pk_Id_Mata_Pelajaran);
                $('#KodeMapel').val(result.Kode_Mata_Pelajaran);
                $('#NamaMapel').val(result.Nama_Mata_Pelajaran);

                $('#MyModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating (Edit)
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var mapelObj = {
            Pk_Id_Mata_Pelajaran: $('#IDMapel').val(),
            Kode_Mata_Pelajaran: $('#KodeMapel').val(),
            Nama_Mata_Pelajaran: $('#NamaMapel').val(),
        };
        $.ajax({
            url: "EditMapel/",
            data: JSON.stringify(mapelObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#tabelMapel').DataTable().ajax.reload();
                $('#myModal').modal('hide');
                $('#msgEdit').text(result.message);
                $('#note').hide();
                $('#formInput').hide();
                $('#btnUpdate').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for deleting record
    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeleteMapel/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $('#tabelMapel').DataTable().ajax.reload();
                $('#msgDelete').text(result.message);
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#IDMapel').val("");
        $('#KodeMapel').val("");
        $('#resultKodeMapel').text("");
        $('#NamaMapel').val("");
        $('#resultNamaMapel').text("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#formInput').show();
        $('#note').show();
        $('#btnAdd').show();
        $('#msgEdit').text('');
        $('#KodeMapel').css('border-color', 'lightgrey');
        $('#NamaMapel').css('border-color', 'lightgrey');
    }

    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#KodeMapel').val().trim() == "") {
            $('#KodeMapel').css('border-color', 'Red');
            $('#resultKodeMapel').text("* Tidak boleh kosong");
            $('#resultKodeMapel').css("color", "red");
            isValid = false;
        }
        else {
            $('#KodeMapel').css('border-color', 'lightgrey');
        }
        if ($('#NamaMapel').val().trim() == "") {
            $('#NamaMapel').css('border-color', 'Red');
            $('#resultNamaMapel').text("* Tidak boleh kosong");
            $('#resultNamaMapel').css("color", "red");
            isValid = false;
        }
        else {
            $('#NamaMapel').css('border-color', 'lightgrey');
            $('#resultNamaMapel').text("");
        }
        return isValid;
    }

</script>

