﻿@model WIAClass.Models.CrudKelasModel

@{
    ViewBag.Title = "Management Data Kelas";
}

<div class="tab-content">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="clearTextBox();" style="position:relative">+ Tambah Data Kelas</a>
    <br />
    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Data Kelas</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgEdit" style="color:green;"></h5>
                    <form id="formInput">
                        <div class="form-group" style="display: none;">
                            <label for="IDKelas">ID Kelas</label>
                            <input type="text" class="form-control" id="IDKelas" placeholder="Input Otomatis" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="NamaKelas">Nama Kelas<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <input type="text" class="form-control" id="NamaKelas" placeholder="" />
                            <p id="resultNamaKelas"></p>
                        </div>
                    </form>
                    <p id="note" style="font-size:14px"><u>Keterangan :</u><br /><span style="font-weight:bold; color:red">*</span> Kolom harus diisi</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Tambah Data</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Ubah Data</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgDelete" style="color:red;"></h5>
                    <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <table id="tabelKelas" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>Nama Kelas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="hidden" id="deleteId" />
</div>

<script type="text/javascript">

    $(document).ready(function () {

        //Tabel kelas
        $("#tabelKelas").DataTable({
            "ajax": {
                "url": "@Url.Action("DataKelas", "Admin")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Nama_Kelas" },
                {
                    "data": "Pk_Id_Kelas",
                    mRender: function (data) {
                     var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="GetKelasID('+ data +')">Ubah</a>';
                     var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>'

                     return linkEdit + " " + linkDelete;
                    }
                }
            ]
        });

    });

    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#msgConfirm').show();
        $('#btnDelete').show();
        $('#msgDelete').text("");
        $('#deleteId').val(id) = id;
    }

        //Add Data Function
    function Add() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var kelasObj = {
            Pk_Id_Kelas: $('#IDKelas').val(),
            Nama_Kelas : $('#NamaKelas').val(),
        };
        $.ajax({
            url: "@Url.Action("TambahDataKelas", "Admin")",
            data: JSON.stringify(kelasObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#tabelKelas').DataTable().ajax.reload();
                $('#myModal').modal('hide');
                $('#formInput').hide();
                $('#note').hide();
                $('#btnAdd').hide();
                $('#msgEdit').text(result.message);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Pk_Id_Kelas
    function GetKelasID(IDKelas) {
        $('#formInput').show();
        $('#note').show();
        $('#btnAdd').show();
        $('#msgEdit').text('');
        $('#NamaKelas').css('border-color', 'lightgrey');
        $('#resultNamaKelas').text("");

        $.ajax({
            url: "GetKelasID/" + IDKelas,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#IDKelas').val(result.Pk_Id_Kelas);
                $('#NamaKelas').val(result.Nama_Kelas);

                $('#MyModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating (Edit)
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var kelasObj = {
            Pk_Id_Kelas: $('#IDKelas').val(),
            Nama_Kelas: $('#NamaKelas').val(),
        };
        $.ajax({
            url: "EditKelas/",
            data: JSON.stringify(kelasObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#tabelKelas').DataTable().ajax.reload();
                $('#myModal').modal('hide');
                $('#msgEdit').text(result.message);
                $('#note').hide();
                $('#formInput').hide();
                $('#btnUpdate').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for deleting record
    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeleteKelas/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $('#tabelKelas').DataTable().ajax.reload();
                $('#msgDelete').text(result.message);
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#IDKelas').val("");
        $('#NamaKelas').val("");
        $('#resultNamaKelas').text("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#formInput').show();
        $('#note').show();
        $('#btnAdd').show();
        $('#msgEdit').text('');
        $('#NamaKelas').css('border-color', 'lightgrey');
    }

    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#NamaKelas').val().trim() == "") {
            $('#NamaKelas').css('border-color', 'Red');
            $('#resultNamaKelas').text("* Tidak boleh kosong");
            $('#resultNamaKelas').css("color", "red");
            isValid = false;
        }
        else {
            $('#NamaKelas').css('border-color', 'lightgrey');
            $('#resultNamaKelas').text("");
        }
        return isValid;
    }

</script>

