﻿
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WiaClass online learning Platform</title>

    <!-- Favicons -->
    <link href="~/assets/img/logoV1.png" rel="icon">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    @Styles.Render("~/Content/css")
    <!-- Theme style -->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition sidebar-mini" style="padding:0px;">
    <div class="wrapper">

        <!-- Navbar -->
        @{
            WIAClass.Models.SidebarModel navbar = @ViewBag.sidebar;
            Html.RenderPartial("Nav", navbar);
        }
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @{
            WIAClass.Models.SidebarModel sidebar = @ViewBag.sidebar;
            Html.RenderPartial(sidebar.sb, sidebar);
        }
        <!-- Sidebar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <br />
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        @Html.Partial("ControlSidebar")
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        @Html.Partial("Footer")
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/assets/adminlte/js/adminlte.min.js"></script>
    @RenderSection("scripts", required: false)
    <!-- jQuery -->
    <!--<script src="plugins/jquery/jquery.min.js"></script>-->
    <!-- Bootstrap 4 -->
    <!--<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <!-- AdminLTE App -->
    <!--<script src="dist/js/adminlte.min.js"></script>-->
</body>
</html>
