﻿<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3 text-center">
        <h5>WIA CLASS</h5>
        <p>Hai, Selamat datang di Wia Class</p>
        <img src="~/assets/img/logoV1.png" alt="" style="max-width:100%; max-height:100%;">
        <img src="~/assets/img/logoV2.png" alt="" style="max-width:100%; max-height:100%;">
    </div>
</aside>
