﻿<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Kelas online tanpa perlu ribet
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; WIA Class 2021. (Create using AdminLTE)</strong> All rights reserved.
</footer>
