﻿
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="sidebar">
        <a href="#" class="brand-link">
            <img src="~/assets/img/LogoV2.png" alt="WiaClass Logo" class="brand-image elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light font-weight-bold font-italic">.Com</span>
        </a>
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Upload/profile/@Model.Img" class="img-rounded elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="@Url.Action("Profil", "Admin")" class="d-block"><b>@Model.Nama</b> <br /> (Admin)</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Admin")" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Halaman Awal
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-th-list"></i>
                        <p>
                            Master Data Sekolah
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanMapel", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Mata Pelajaran</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanKelas", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Kelas</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                            Managemen Data User
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanGuru", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Guru</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanSiswa", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Siswa</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("RekapKehadiran", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rekap Kehadiran</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("RequestKehadiran", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Validasi Absen Guru</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Report
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("ReportSiswa", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Report Siswa</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ReportGuru", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Report Guru</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Pengumuman
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("BuatPengumuman", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Buat Pengumuman</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ManagePengumuman", "Admin")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Pengumuman</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap4.min.js")"></script>