﻿
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="sidebar">
        <a href="#" class="brand-link">
            <img src="~/assets/img/LogoV2.png" alt="WiaClass Logo" class="brand-image elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light font-weight-bold font-italic">.Com</span>
        </a>
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Upload/profile/@Model.Img" class="img-rounded elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="@Url.Action("Profil", "Guru")" class="d-block"><b>@Model.Nama</b> <br /> (Guru)</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Guru")" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Halaman Awal
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                            Pengelola Kelas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Kehadiran", "Guru")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kehadiran</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("BeriTugas", "Guru")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Berikan Tugas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Video", "Guru")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Mulai Kelas Virtual</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Evaluasi", "Guru")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Evaluasi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ValidasiKehadiranSiswa", "Guru")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Validasi Absen Siswa</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Berikan Kuis
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("TambahKategori", "Guru")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tambah Kategori</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ResultQuiz", "Guru")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Hasil Kuis</p>
                            </a>
                        </li>
                    </ul>
                </li>
                @*<li class="nav-item">
                        <a href="@Url.Action("BeriQuiz", "Guru")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Berikan Kuis</p>
                        </a>
                    </li>*@
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Lain-Lain
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @*<li class="nav-item">
                                <a href="@Url.Action("Pengumuman", "AllUser")" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Pengumuman</p>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a href="@Url.Action("Testimonial", "Guru")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Testimonial</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap4.min.js")"></script>