﻿<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="sidebar">
        <a href="#" class="brand-link">
            <img src="~/assets/img/LogoV2.png" alt="WiaClass Logo" class="brand-image elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light font-weight-bold font-italic">.Com</span>
        </a>
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Upload/profile/@Model.Img" class="img-rounded elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="@Url.Action("Profil", "SA")" class="d-block">@Model.Email</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "SA")" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Halaman Awal
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-th-list"></i>
                        <p>
                            Master Data Sekolah
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanMapel", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Mata Pelajaran</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanKelas", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Kelas</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Master Data User
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanSekolah", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Sekolah</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanGuru", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Guru</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanSiswa", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Siswa</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Management Audit Trail
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("TampilkanAuditTrail", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Audit Trail</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Report
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Report_JmlSiswa", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Jumlah Siswa WIA</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ReportGuru", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Guru WIA</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ReportSiswa", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Siswa WIA</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Content Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Testimonial", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Testimonial</p>
                            </a>
                        </li>
                        @*                        <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>FAQ</p>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a href="@Url.Action("KontakKami", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kontak Center</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                            Pengelola kelas (Guru)
                        <i class="right fas fa-angle-left"></i>
                        </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("Kehadiran", "SA")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Kehadiran</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("JadwalKelas", "SA")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Jadwal Kelas</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("BeriTugas", "SA")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Berikan Tugas</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Video", "SA")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Mulai Kelas Virtual</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Evaluasi", "SA")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Evaluasi</p>
                        </a>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Berikan Kuis
                            <i class="right fas fa-angle-left"></i>
                            </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("TambahKategori", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tambah Kategori</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Result</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                        <a href="@Url.Action("BeriQuiz", "Guru")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Berikan Kuis</p>
                        </a>
                    </li>
                </ul>
                </li>
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                            Ruang Kelas (Siswa)
                        <i class="right fas fa-angle-left"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("KehadiranSiswa", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kehadiran</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("JoinVideo", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Masuk Kelas Virtual</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("KirimTugas", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Mengirim Tugas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("SelectQuiz", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kuis</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("EvaluasiSiswa", "SA")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Evaluasi</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap4.min.js")"></script>