﻿
@{
    ViewBag.Title = "BeriQuiz";
}

<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <h2>BeriQuiz</h2>

    <div class="list-group">
        <a href="#" class="list-group-item">Report</a>
        <a href="@Url.Action("TambahKategori", "Guru")" class="list-group-item">Tambah Kategori</a>
        @*<a href="@Url.Action("TambahPertanyaan", "Guru")" class="list-group-item">Tambah Pertanyaan</a>*@
    </div>
</div>