﻿@model WIAClass.Models.CrudEvaluasi

@{
    ViewBag.Title = "Evaluasi";
}

<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <h2>Evaluasi</h2>

    <table id="tableDataEval" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>Tugas/Kuis</th>
                <th>Nilai</th>
                <th>Waktu Pengumpulan</th>
                <th>Batas Pengumpulan</th>
                <th>Catatan</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" href="#" id="btnEval" data-toggle="modal" data-target="#MyModal" onclick="return Evaluasi();" style="position:relative"> Beri Evaluasi </button>

    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Beri Evaluasi</h4>
                </div>
                <div class="modal-body">
                    <h5 id="msgEdit" style="color:green;"></h5>
                    <form id="formInput">
                        <div class="form-group">
                            <label for="NilaiEvaluasi" id="lblNilai">Nilai Evaluasi<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <br />
                            @Html.TextBoxFor(x => x.Nilai, new { @class = "form-control", @id = "NilaiEvaluasi", @placeholder = "" })
                        </div>
                        <div class="form-group">
                            <label for="NoteEval" id="lblnote">Catatan untuk siswa<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                            <br />
                            @Html.TextAreaFor(x => x.Evaluasi, new { @class = "form-control", @id = "NoteEval", @placeholder = "" })
                        </div>
                    </form>
                    <br /><br />
                    <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-primary" id="btnKirim" onclick="return kirimEval()"> Kirim </button>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tableDataEval").DataTable({
            "ajax": {
                "url": "@Url.Action("DataTGSQUIZ", "Guru")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Tugas_Kuis" },
                { "data": "Nilai" },
                {
                    "data": "Tanggal",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                {
                    "data": "Batas_Pengumpulan",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Eval_Per_Hari"}
            ]
        });
    });


    function kirimEval() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var evalObj = {
            Nilai: $('#NilaiEvaluasi').val(),
            Evaluasi: $('#NoteEval').val(),
        };
        $.ajax({
            url: "@Url.Action("MengirimEvaluasi", "Guru")",
            data: JSON.stringify(evalObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#tableDataEval').DataTable().ajax.reload();
                $("#msgEdit").text("Berhasil menambahkan evaluasi !");
                $("#myModal").modal('hide');
                $("#btnKirim").hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($.isNumeric($('#NilaiEvaluasi').val())) {
            $('#NilaiEvaluasi').css('border-color', 'lightgrey');
        } else {
            $('#NilaiEvaluasi').css('border-color', 'Red');
            isValid = false;
        }
               
        if ($('#NoteEval').val().trim() == "") {
            $('#NoteEval').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#NoteEval').css('border-color', 'lightgrey');
        }        
        return isValid;
    }
</script>

