﻿
@{
    ViewBag.Title = "Evaluasi";
}
<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <h2>Evaluasi</h2>

    <table id="tabelPilihKelas" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>No</th>
                <th>Nama Kelas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="hidden" id="kelasid" />
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelPilihKelas").DataTable({
            "ajax": {
                "url": "@Url.Action("KelasEvaluasi", "Guru")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Pk_Id_Kelas" },
                { "data": "Nama_Kelas" },
                {
                    "data": "Pk_Id_Kelas",
                    mRender: function (data) {
                        var linkEval = '<a class="btn btn-primary" href="@Url.Action("MulaiEvaluasi", "Guru", new {id = -1 })">Pilih</a>';
                        linkEval = linkEval.replace("-1", data);
                        return linkEval;
                    }
                }
            ]
        });
    });
</script>

