﻿

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <h2><b>Selamat datang @ViewBag.DataJekel @ViewBag.NamaGuru</b></h2>
    <div class="row mb-3">
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@ViewBag.StatusAbsen Absen</h3>

                    <p>Status Kehadiran</p>
                </div>
                <div class="icon">
                    <i class="fas fa-list-alt fa-lg"></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@ViewBag.JumlahTugas</h3>

                    <p>Tugas yang diberikan</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-tie fa-lg"></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@ViewBag.DataHeader.Jumlah_Siswa</h3>

                    <p>Jumlah Siswa</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users fa-lg"></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@ViewBag.DataHeader.Jumlah_Kelas</h3>

                    <p>Jumlah Kelas yang ada</p>
                </div>
                <div class="icon">
                    <i class="fas fa-school fa-lg"></i>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
            <div id="chartContainer1" style="height: 400px; width: 100%;">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <div id="chartContainer2" style="height: 400px; width: 100%;">
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script type="text/javascript">
        window.onload = function () {
            let today = new Date();
            let dd = String(today.getDate()).padStart(2, '0');
            let mm = String(today.getMonth() + 1).padStart(2, '0');
            let yyyy = today.getFullYear();

            today = mm + '/' + dd + '/' + yyyy;

            var chart1 = new CanvasJS.Chart("chartContainer1", {
	            animationEnabled: true,

	            theme: "light2", // "light1", "light2", "dark1", "dark2"
	            title: {
                    text: "Data Nilai Rata-rata perkelas"
	            },
	            axisY: {
		            title: "Nilai Rata-rata"
	            },
	            data: [{
		            type: "column",
		            dataPoints: @Html.Raw(ViewBag.DataPoints1),
	            }]
            });

            var chart2 = new CanvasJS.Chart("chartContainer2", {
                animationEnabled: true,
                exportEnabled: true,
                theme: "light2",
	            title: {
		            text: "Jumlah Siswa Per Kelas"
	            },
	            subtitles: [{
                    text: today
	            }],
	            axisY: {
		            title: "Jumlah Siswa",
		            gridThickness: 0
	            },
	            data: [{
		            type: "bar",
		            indexLabel: "{y}",
		            dataPoints: @Html.Raw(ViewBag.DataPoints2),
	            }]
            });
            chart1.render();
            chart2.render();
        }
    </script>
