﻿
@{
    ViewBag.Title = "JadwalKelas";
}

<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <h2>JadwalKelas</h2>
</div>

