﻿@model WIAClass.Models.CrudBeriNilai

@{
    ViewBag.Title = "Management Data Pertanyaan Kuis";
}

<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <div class="tab-content" style="position:relative">
        <h4>Memberikan Nilai Tugas : @Session["namaTugas"]</h4><br /><br />
        <h4>Batas Pengumpulan tugas : @Session["waktuTugas"]</h4><br /><br />
        <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Nilai</h4>
                    </div>
                    <div class="modal-body">
                        <h5 id="msgEdit" style="color:green;"></h5>
                        <form id="formInput">
                            <div class="form-group">
                                <label for="IDNilai">ID Nilai Tugas</label>
                                <input type="text" class="form-control" id="IDNilai" placeholder="Input Otomatis" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label for="Nilai">Nilai<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="text" class="form-control" id="Nilai" placeholder="Berikan nilai disini" />
                            </div>
                            <div class="form-group">
                                <label for="StatusTugas">Status Tugas<span style="font-weight:bold; color:red; font-size:18px">*</span></label><br />
                                <select class="custom-select" id="StatusTugas">
                                    <option selected value="Tepat Waktu">Tepat Waktu</option>
                                    <option value="Terlambat">Terlambat</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Cat">Catatan</label>
                                @*<input type="text" class="form-control" id="Cat" placeholder="Berikan evaluasi untuk tugas ini" />*@
                                @Html.TextAreaFor(x => x.Cat, new {@class="form-control", id= "Cat", @placeholder= "Berikan evaluasi untuk tugas ini" })
                            </div>
                        </form>
                        <p id="note" style="font-size:14px"><u>Keterangan :</u><br /><span style="font-weight:bold; color:red">*</span> Kolom harus diisi</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return BeriNilai();">Tambah Nilai</button>
                        <button type="button" class="btn btn-primary" id="btnReload" style="display:none;">Refresh Tabel</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Ubah Data</button>
                    </div>
                </div>
            </div>
        </div>
        <table id="tabelPengumpulanTugas" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>No</th>
                    <th>Nama Siswa</th>
                    <th>Waktu Pengumpulan</th>
                    <th>Url File</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <input type="hidden" id="tugasid" />
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {


        $("#tabelPengumpulanTugas").DataTable({
            "ajax": {
                "url": "@Url.Action("DataTugasKumpul", "Guru")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "No" },
                { "data": "Nama_Siswa" },
                {
                    "data": "Waktu_Pengumpulan",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                { "data": "Url_File" },
                {
                    "data": "Pk_Id_Pengumpulan_Tugas",
                    mRender: function (data) {
                        var linkNilai = '<a class="btn btn-outline-primary" data-toggle="modal" href="#" data-target="#MyModal" onclick="BukaModal(' + data + ')">Berikan Nilai</a>';
                        //var linkNilai = '<a class="btn btn-outline-primary" href="#"  >Berikan Nilai</a>';
                        var linkDownload = '<a class="btn btn-primary" href="@Url.Action("DownloadFile", "Guru", new {id = -1 })">Download</a>'
                        linkDownload = linkDownload.replace("-1", data);
                     return linkNilai + " " + linkDownload;
                    }
                }
            ]
        });

        $('#btnReload').click(function () {
            location.reload(true);
        });
        $('#btnReload2').click(function () {
            location.reload(true);
        });
    });

    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#deleteId').val(id) = id;
    }

    function BukaModal(ID_Tugas) {
        $("#tugasid").val(ID_Tugas) = ID_Tugas;
    }

        //Add Data Function
    let BeriNilai = function() {
        var idTugas = $("#tugasid").val();
        var res = validate();
        if (res == false) {
            return false;
        }
        var nilaiObj = {
            Pk_Id_Nilai: $('#IDNilai').val(),
            Nilai: $('#Nilai').val(),
            Status: $('#StatusTugas').val(),
            Cat: $('#Cat').val(),
            Temporary: idTugas,
        };
        $.ajax({
            url: "@Url.Action("InputNilai", "Guru")",
            data: JSON.stringify(nilaiObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#msgEdit').text("Berhasil menambahkan data !");
                $('#myModal').modal('hide');
                $('#formInput').hide();
                $('#note').hide();
                $('#btnAdd').hide();
                $('#btnReload').show();
                $('#btnCancel').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for updating (Edit)
    @*function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var pertanyaanObj = {
            Pk_Id_Pertanyaan: $('#IDPertanyaan').val(),
            Pertanyaan: $('#Pertanyaan').val(),
            OptA: $('#OptA').val(),
            OptB: $('#OptB').val(),
            OptC: $('#OptC').val(),
            OptD: $('#OptD').val(),
            CorrectOpt: $('#CorrectOpt').val(),
        };
        $.ajax({
            url: "EditPertanyaan/",
            data: JSON.stringify(pertanyaanObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#myModal').modal('hide');
                $('#msgEdit').text("Berhasil mengubah data !");
                $('#note').hide();
                $('#formInput').hide();
                $('#btnUpdate').hide();
                $('#btnReload').show();
                $('#btnCancel').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }*@

    //function for deleting record
    @*function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeletePertanyaan/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function () {
                $('#msgDelete').text("Berhasil menghapus data !");
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
                $('#btnReload2').show();
                $('#btnCancel2').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }*@

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#Pk_Id_Nilai').val("");
        $('#Nilai').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#Pk_Id_Nilai').css('border-color', 'lightgrey');
        $('#Nilai').css('border-color', 'lightgrey');
        $('#StatusTugas').css('border-color', 'lightgrey');
    }
    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($.isNumeric($('#Nilai').val())) {
            $('#Nilai').css('border-color', 'lightgrey');
        } else {
            $('#Nilai').css('border-color', 'Red');
            isValid = false;
        }
        if ($('#Nilai').val().trim() == "") {
            $('#Nilai').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Nilai').css('border-color', 'lightgrey');
        }
        if ($('#StatusTugas').val().trim() == "") {
            $('#StatusTugas').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#StatusTugas').css('border-color', 'lightgrey');
        }
        
        return isValid;
    }
</script>