﻿
@{
    ViewBag.Title = "Evaluasi";
}

<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <h2>Evaluasi</h2>

    <table id="tabelPilihSiswa" class="table table-responsive-lg" style="width:100%;">
        <thead class="thead-dark text-white">
            <tr>
                <th>Nama Siswa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="hidden" id="siswaid" />
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelPilihSiswa").DataTable({
            "ajax": {
                "url": "@Url.Action("SiswaEvaluasi", "Guru")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Nama" },
                {
                    "data": "Pk_Id_Siswa",
                    mRender: function (data) {
                        var linkEval = '<a class="btn btn-primary" href="@Url.Action("BeriEvaluasi", "Guru", new { id = -1})">Pilih</a>';
                        linkEval = linkEval.replace("-1", data);
                        return linkEval;
                    }
                }
            ]
        });
    });
</script>

