﻿@model WIAClass.Models.Vw_Data_Guru
@{
    ViewBag.Title = "Profil";
}

<body>
    <div class="container">
        <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img class="rect-img elevation-3" src="~/Upload/profile/@Model.Foto_Profil" alt="">
                                <br />
                                <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#fpModal" onclick="ClearPreview();">Ganti Foto</a>
                                <div class="mt-3">
                                    <h4>@Model.Nama</h4>
                                    <p class="text-secondary mb-1">@Model.Email</p>
                                    <p class="text-muted font-size-sm">@Model.No_Telp</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">NIP</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.NIP
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nama Guru</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Nama
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Email
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">No. Telp</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.No_Telp
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Sekolah</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Sekolah
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Guru Pata Pelajaran</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Mata_Pelajaran
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Jenis Kelamin</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Jenis_Kelamin
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-outline-primary" href="@Url.Action("EditProfil", "Guru")">Edit Profil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Ganti Foto Profil</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-9">
                        <h5 id="labelSelectFile">Pilih File (Ukuran max 1 MB)</h5>
                        <div class="btn btn-primary" id="caseBtnUpload">
                            <input type="file" id="imageBrowse" />
                        </div>
                        <p id="checkSize"></p>
                        <div id="imgPreview" class="thumbnail" style="display:none">
                            <img class="img-responsive" id="targetImg" style="max-height:400px; max-width:400px" />
                            <br />
                            <br />
                            <div class="caption">
                                <a href="#" onclick="ClearPreview()"><i class="fa fa-trash fa-2x" style="color:red" aria-hidden="true"></i></a>
                                <span id="description"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-primary" id="btnUpload" onclick="uploadImage();" style="display:none;">Simpan</button>
                        <button type="button" class="btn btn-primary" id="btnReload" style="display:none;" onclick="reload();">Kembali</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="oldPicture" value="@Model.Foto_Profil" />
    </div>

    <script type="text/javascript">

        $('#imageBrowse').on('change', function () {
            let numb = $(this)[0].files[0].size / 1024 / 1024;
            let file = this.files[0];
            let fileType = file["type"];
            let validImageTypes = ["image/gif", "image/jpeg", "image/png"];
            numb = numb.toFixed(2);
            if ($.inArray(fileType, validImageTypes) < 0) {
                $('#checkSize').text("Mohon masukan file image");
                $('#checkSize').css("color", "red");
                $("#imageBrowse").val('');
                $("#description").text('');
                $("#imgPreview").hide();
                $('#btnUpload').hide();
            } else {
                if (numb > 1) {
                    $('#checkSize').text("File anda terlalu besar, maksimal 1 MB");
                    $('#checkSize').css("color", "red");
                    $("#imgPreview").hide();
                    $('#btnUpload').hide();
                } else {
                    $('#checkSize').text("Ukuran File diterima");
                    $('#checkSize').css("color", "green");
                    ReadImage(file);
                    $('#btnUpload').show();
                }
            }
        });

        let ReadImage = function (file) {
            var reader = new FileReader;
            var image = new Image;

            reader.readAsDataURL(file);
            reader.onload = function (_file) {

                image.src = _file.target.result;
                image.onload = function () {

                    let height = image.height;
                    let width = image.width;
                    let size = ~~(file.size / 1024) + "KB";
                    $("#targetImg").attr('src', _file.target.result);
                    $("#description").text("Ukuran file: " + size + ", (" + height + " x " + width + ")");
                    $("#imgPreview").show();
                }

            }
        }

        let ClearPreview = function () {
            $("#imageBrowse").val('');
            $("#description").text('');
            $("#imgPreview").hide();
            $('#checkSize').text('');
            $('#btnUpload').hide();
        }

        let uploadImage = function () {
            if ($("#imageBrowse").val() != "") {
                if (window.FormData !== undefined) {

                    let fileUpload = $("#imageBrowse").get(0);
                    let files = fileUpload.files;
                    // Create FormData object
                    let fileData = new FormData();

                    fileData.append("ImageFile", files[0]);
                    fileData.append("oldPicture", $('#oldPicture').val());
                    $.ajax({
                        url: 'EditFotoProfil/',
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function () {
                            ClearPreview();
                            $("#caseBtnUpload").hide();
                            $('#checkSize').text("Berhasil mengubah foto profil");
                            $('#checkSize').css("color", "green");
                            $("#labelSelectFile").hide();
                            $("#btnUpload").hide();
                            $("#btnCancel").hide();
                            $("#btnReload").show();
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                } else {
                    alert("There's something error");
                }
            } else {
                $('#checkSize').text("Mohon pilih foto terlebih dahulu");
                $('#checkSize').css("color", "red");
            };
        }

        function reload() {
            location.reload(true);
        }

    </script>
</body>