﻿@model WIAClass.Models.CrudQuizModel
@{
    ViewBag.Title = "Hasil Kuis";
}
<div class="container">
    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <div class="tab-content" style="position:relative">
        <h2>Hasil Kuis</h2>

        
        <table id="tabelHasilQuiz" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>Tanggal</th>
                    <th>Nilai Quiz</th>
                    <th>Kategori</th>
                    <th>Siswa</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        //Tabel tugas
        $("#tabelHasilQuiz").DataTable({
            "ajax": {
                "url": "@Url.Action("DataNilaiQuiz", "Guru")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "Tanggal",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var MM = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        var HH = dateFull.getHours();
                        var mm = dateFull.getMinutes();
                        var ss = dateFull.getSeconds();

                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (MM < 10) {
                            MM = '0' + MM;
                        }

                        if (HH < 10) {
                            HH = '0' + HH;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = MM + '/' + dd + '/' + yyyy + " (" + HH + ":" + mm + ":" + ss + ")";
                        return today;
                    },
                },
                { "data": "NilaiQuiz" },
                { "data": "Kategori" },
                { "data": "Nama_Siswa" }
            ],
            "order": [[0, "desc"]]
        });
    });
</script>
