﻿@model WIAClass.Models.CrudQuizModel
@{
    ViewBag.Title = "Management Data Kategori Kuis";
}

<div class="tab-content">
        <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
        <a href="#" class="btn btn-primary" style=" position:relative;" data-toggle="modal" data-target="#MyModal" onclick="clearTextBox();">+ Tambah Kategori</a>
        <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Kategori</h4>
                    </div>
                    <div class="modal-body">
                        <h5 id="msgEdit" style="color:green;"></h5>
                        <form id="formInput">
                            <div class="form-group">
                                <label for="IDKategori">ID Kategori</label>
                                <input type="text" class="form-control" id="IDKategori" placeholder="Input Otomatis" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label for="KatName">Nama Kategori<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="text" class="form-control" id="KatName" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="KelasKat">Kelas</label>
                                <br />
                                @Html.DropDownList("Fk_Id_Kelas", ViewBag.list as SelectList, "Pilih Kelas", htmlAttributes: new { @class = "form-control", @id = "KelasKat" })
                                @*<select class="custom-select" id="KelasKat">
                <option selected value="1">Kelas 1</option>
                <option value="2">Kelas 2</option>
                <option value="3">Kelas 3</option>
                <option value="4">Kelas 4</option>
                <option value="5">Kelas 5</option>
                <option value="6">Kelas 6</option>
            </select>*@
                            </div>
                            <div class="form-group">
                                <label for="StatusQuiz">Status kuis</label>
                                <br />
                                <select class="custom-select" id="StatusQuiz">
                                    <option value="False">Belum Aktif</option>
                                    <option selected value="True">Aktif</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="MulaiQuiz">Waktu Quiz Mulai<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="date" class="form-control" id="MulaiQuiz" />
                            </div>
                            <div class="form-group">
                                <label for="BatasQuiz">Waktu Quiz Selesai<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="date" class="form-control" id="BatasQuiz" />
                            </div>
                            <div class="form-group">
                                <label for="WP">Waktu Per Soal<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="text" class="form-control" id="WP" placeholder="Tulis berapa detik untuk tiap pertanyaan" />
                            </div>
                        </form>
                        <p id="note" style="font-size:14px"><u>Keterangan :</u><br /><span style="font-weight:bold; color:red">*</span> Kolom harus diisi</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Tambah Data</button>
                        <button type="button" class="btn btn-primary" id="btnReload" style="display:none;">Refresh Tabel</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Ubah Data</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                    </div>
                    <div class="modal-body">
                        <h5 id="msgDelete" style="color:red;"></h5>
                        <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                        <h5 id="msgInfo">Dengan menghapus kategori, semua pertanyaan di kategori ini akan terhapus</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                        <button type="button" class="btn btn-primary" id="btnReload2" style="display:none;">Refresh Tabel</button>
                    </div>
                </div>
            </div>
        </div>

        <table id="tabelKategori" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>No</th>
                    <th>Nama Kategori</th>
                    <th>Nama Guru</th>
                    <th>Kelas</th>
                    <th>Status</th>
                    <th>Waktu Mulai Quiz</th>
                    <th>Waktu Selesai Quiz</th>
                    <th>Waktu Pengerjaan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <input type="hidden" id="deleteId" />
    </div>
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap4.min.js")"></script>

    <script type="text/javascript">

    $(document).ready(function () {

        //Tabel kategori
        $("#tabelKategori").DataTable({
            "ajax": {
                "url": "@Url.Action("DataKategori", "Guru")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "No" },
                { "data": "Nama_Kategori" },
                { "data": "Nama_Guru" },
                { "data": "Kelas" },
                { "data": "Status" },
                {
                    "data": "Mulai_Kuis",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                {
                    "data": "Batas_Kuis",
                    mRender: function (data) {
                        var dateFull = new Date(parseInt(data.substr(6)));
                        var dd = dateFull.getDate();

                        var mm = dateFull.getMonth() + 1;
                        var yyyy = dateFull.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd;
                        }

                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = dd + '/' + mm + '/' + yyyy;
                        return today;
                    },
                },
                {
                    "data": "Waktu_Pengerjaan"
                },
                {
                    "data": "Pk_Id_Kategori",
                    mRender: function (data) {
                     var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="GetKategoriID('+ data +')">Ubah</a>';
                     var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>';
                     var linkQuestions = '<a class="btn btn-primary" href="@Url.Action("ViewAllQuestions", "Guru", new {id = -1 })">Lihat Pertanyaan</a>';
                        linkQuestions = linkQuestions.replace("-1", data);
                        @*'<a class="btn-btn-outilne-primary" href="@Url.Action("ViewAllQuestions", "Guru", { id = data})" onclick="GetQuestions('+ data +')">Lihat Pertanyaan</a>'*@

                        return linkEdit + " " + linkDelete + " " + linkQuestions;

                    }
                }
            ]
        });

        $('#btnReload').click(function () {
            location.reload(true);
        });
        $('#btnReload2').click(function () {
            location.reload(true);
        });
    });

    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#deleteId').val(id) = id;
    }

        //Add Data Function
    function Add() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var kategoriObj = {
            Pk_Id_Kategori: $('#IDKategori').val(),
            KatName: $('#KatName').val(),
            Fk_Id_Kelas: $('#KelasKat').val(),
            StatusQuiz: $('#StatusQuiz').val(),
            MulaiQuiz: $('#MulaiQuiz').val(),
            BatasQuiz: $('#BatasQuiz').val(),
            WaktuPengerjaan: $('#WP').val(),
        };
        $.ajax({
            url: "@Url.Action("TambahDataKategori", "Guru")",
            data: JSON.stringify(kategoriObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#msgEdit').text("Berhasil menambahkan data !");
                $('#myModal').modal('hide');
                $('#formInput').hide();
                $('#note').hide();
                $('#btnAdd').hide();
                $('#btnReload').show();
                $('#btnCancel').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Pk_Id_Siswa
    function GetKategoriID(IDKategori) {
        $('#IDKategori').css('border-color', 'lightgrey');
        $('#KatName').css('border-color', 'lightgrey');
        $('#KelasKat').css('border-color', 'lightgrey');
        $('#StatusQuiz').css('border-color', 'lightgrey');
        $('#MulaiQuiz').css('border-color', 'lightgrey');
        $('#BatasQuiz').css('border-color', 'lightgrey');
        $('#WP').css('border-color', 'lightgrey');
        $.ajax({
            url: "GetKategoriID/" + IDKategori,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#IDKategori').val(result.Pk_Id_Kategori);
                $('#KatName').val(result.KatName);
                $('#KelasKat').val(result.Fk_Id_Kelas);
                $('#MulaiQuiz').val(result.MulaiQuiz);
                $('#BatasQuiz').val(result.BatasQuiz);
                $('#WP').val(result.WaktuPengerjaan);

                $('#MyModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
                $('#btnCancel').show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating (Edit)
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var kategoriObj = {
            Pk_Id_Kategori: $('#IDKategori').val(),
            KatName: $('#KatName').val(),
            Fk_Id_Kelas: $('#KelasKat').val(),
            StatusQuiz: $('#StatusQuiz').val(),
            MulaiQuiz: $('#MulaiQuiz').val(),
            BatasQuiz: $('#BatasQuiz').val(),
            WaktuPengerjaan: $('#WP').val(),
        };
        $.ajax({
            url: "EditKategori/",
            data: JSON.stringify(kategoriObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#myModal').modal('hide');
                $('#msgEdit').text("Berhasil mengubah data !");
                $('#note').hide();
                $('#formInput').hide();
                $('#btnUpdate').hide();
                $('#btnReload').show();
                $('#btnCancel').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for deleting record
    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeleteKategori/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function () {
                $('#msgDelete').text("Berhasil menghapus data !");
                $('#msgConfirm').hide();
                $('#msgInfo').hide();
                $('#btnDelete').hide();
                $('#btnReload2').show();
                $('#btnCancel2').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#IDKategori').val("");
        $('#KatName').val("");
        $('#WP').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#IDKategori').css('border-color', 'lightgrey');
        $('#KatName').css('border-color', 'lightgrey');
        $('#WP').css('border-color', 'lightgrey');
    }
    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#KatName').val().trim() == "") {
            $('#KatName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#KatName').css('border-color', 'lightgrey');
        }
        if ($('#KelasKat').val().trim() == "") {
            $('#KelasKat').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#KelasKat').css('border-color', 'lightgrey');
        }
        if ($('#StatusQuiz').val().trim() == "") {
            $('#StatusQuiz').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#StatusQuiz').css('border-color', 'lightgrey');
        }
        if ($('#MulaiQuiz').val().trim() == "") {
            $('#MulaiQuiz').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#MulaiQuiz').css('border-color', 'lightgrey');
        }
        if ($('#BatasQuiz').val().trim() == "") {
            $('#BatasQuiz').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#BatasQuiz').css('border-color', 'lightgrey');
        }
        if ($('#WP').val().trim() == "") {
            $('#WP').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#WP').css('border-color', 'lightgrey');
        }
        return isValid;
    }
    </script>

