﻿@*@model IEnumerable<WIAClass.Models.Tbl_Pertanyaan>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pertanyaan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectOpt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Kategori.KatName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pertanyaan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectOpt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tbl_Kategori.KatName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Pk_Id_Pertanyaan }) |
                @Html.ActionLink("Details", "Details", new { id=item.Pk_Id_Pertanyaan }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Pk_Id_Pertanyaan })
            </td>
        </tr>
    }

    </table>
*@

@model WIAClass.Models.CrudQuestionModel

@{
    ViewBag.Title = "Management Data Pertanyaan Kuis";
}

    <img src="~/assets/img/team-bg2.jpg" alt="" style="max-width:100%; max-height:85%; opacity:0.1; position: absolute; z-index:0;">
    <div class="tab-content" style="position:relative">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="clearTextBox();">+ Tambah Pertanyaan</a>
        <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Pertanyaan</h4>
                    </div>
                    <div class="modal-body">
                        <h5 id="msgEdit" style="color:green;"></h5>
                        <form id="formInput">
                            <div class="form-group">
                                <label for="IDPertanyaan">ID Pertanyaan</label>
                                <input type="text" class="form-control" id="IDPertanyaan" placeholder="Input Otomatis" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label for="Pertanyaan">Pertanyaan<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="text" class="form-control" id="Pertanyaan" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="OptA">Opsi A<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="text" class="form-control" id="OptA" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="OptB">Opsi B<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="email" class="form-control" id="OptB" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="OptC">Opsi C<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="email" class="form-control" id="OptC" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="OptD">Opsi D<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="text" class="form-control" id="OptD" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="CorrectOpt">Jawaban yang benar<span style="font-weight:bold; color:red; font-size:18px">*</span></label>
                                <input type="text" class="form-control" id="CorrectOpt" placeholder="Isi dengan opsi jawaban benar A/B/C/D" />
                            </div>
                        </form>
                        <p id="note" style="font-size:14px"><u>Keterangan :</u><br /><span style="font-weight:bold; color:red">*</span> Kolom harus diisi</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Tambah Data</button>
                        <button type="button" class="btn btn-primary" id="btnReload" style="display:none;">Refresh Tabel</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Ubah Data</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
                    </div>
                    <div class="modal-body">
                        <h5 id="msgDelete" style="color:red;"></h5>
                        <h5 id="msgConfirm">Apakah anda yakin untuk menghapus data?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnCancel2" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Hapus Data</button>
                        <button type="button" class="btn btn-primary" id="btnReload2" style="display:none;">Refresh Tabel</button>
                    </div>
                </div>
            </div>
        </div>
        <table id="tabelPertanyaan" class="table table-responsive-lg" style="width:100%;">
            <thead class="thead-dark text-white">
                <tr>
                    <th>Pertanyaan</th>
                    <th>Opsi A</th>
                    <th>Opsi B</th>
                    <th>Opsi C</th>
                    <th>Opsi D</th>
                    <th>Jawaban Benar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <input type="hidden" id="deleteId" />
    </div>
    <script type="text/javascript">

    $(document).ready(function () {


        $("#tabelPertanyaan").DataTable({
            "ajax": {
                "url": "@Url.Action("DataPertanyaan", "Guru")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Pertanyaan" },
                { "data": "OptA" },
                { "data": "OptB" },
                { "data": "OptC" },
                { "data": "OptD" },
                { "data": "CorrectOpt" },
                {
                    "data": "Pk_Id_Pertanyaan",
                    mRender: function (data) {
                     var linkEdit = '<a class="btn btn-outline-primary" href="#" onclick="GetPertanyaanID('+ data +')">Ubah</a>';
                     var linkDelete = '<a class="btn btn-outline-danger" href="#" onclick="Confirm(' + data + ')">Hapus</a>'

                     return linkEdit + " " + linkDelete;
                    }
                }
            ]
        });

        $('#btnReload').click(function () {
            location.reload(true);
        });
        $('#btnReload2').click(function () {
            location.reload(true);
        });
    });

    var Confirm = function (id) {
        $('#deleteModal').modal('show');
        $('#deleteId').val(id) = id;
    }

        //Add Data Function
    function Add() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var pertanyaanObj = {
            Pk_Id_Pertanyaan: $('#IDPertanyaan').val(),
            Pertanyaan: $('#Pertanyaan').val(),
            OptA: $('#OptA').val(),
            OptB: $('#OptB').val(),
            OptC: $('#OptC').val(),
            OptD: $('#OptD').val(),
            CorrectOpt: $('#CorrectOpt').val(),
        };
        $.ajax({
            url: "@Url.Action("TambahDataPertanyaan", "Guru")",
            data: JSON.stringify(pertanyaanObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#msgEdit').text("Berhasil menambahkan data !");
                $('#myModal').modal('hide');
                $('#formInput').hide();
                $('#note').hide();
                $('#btnAdd').hide();
                $('#btnReload').show();
                $('#btnCancel').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function GetPertanyaanID(IDPertanyaan) {
        $('#Pertanyaan').css('border-color', 'lightgrey');
        $('#OptA').css('border-color', 'lightgrey');
        $('#OptB').css('border-color', 'lightgrey');
        $('#OptC').css('border-color', 'lightgrey');
        $('#OptD').css('border-color', 'lightgrey');
        $('#CorrectOpt').css('border-color', 'lightgrey');
        $.ajax({
            url: "GetPertanyaanID/" + IDPertanyaan,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#IDPertanyaan').val(result.Pk_Id_Pertanyaan);
                $('#Pertanyaan').val(result.Pertanyaan);
                $('#OptA').val(result.OptA);
                $('#OptB').val(result.OptB);
                $('#OptC').val(result.OptC);
                $('#OptD').val(result.OptD);
                $('#CorrectOpt').val(result.CorrectOpt);

                $('#MyModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
                $('#btnCancel').show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating (Edit)
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var pertanyaanObj = {
            Pk_Id_Pertanyaan: $('#IDPertanyaan').val(),
            Pertanyaan: $('#Pertanyaan').val(),
            OptA: $('#OptA').val(),
            OptB: $('#OptB').val(),
            OptC: $('#OptC').val(),
            OptD: $('#OptD').val(),
            CorrectOpt: $('#CorrectOpt').val(),
        };
        $.ajax({
            url: "EditPertanyaan/",
            data: JSON.stringify(pertanyaanObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#myModal').modal('hide');
                $('#msgEdit').text("Berhasil mengubah data !");
                $('#note').hide();
                $('#formInput').hide();
                $('#btnUpdate').hide();
                $('#btnReload').show();
                $('#btnCancel').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for deleting record
    function Delete() {
        var id = $('#deleteId').val();
        $.ajax({
            url: "DeletePertanyaan/" + id,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function () {
                $('#msgDelete').text("Berhasil menghapus data !");
                $('#msgConfirm').hide();
                $('#btnDelete').hide();
                $('#btnReload2').show();
                $('#btnCancel2').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#IDPertanyaan').val("");
        $('#Pertanyaan').val("");
        $('#OptA').val("");
        $('#OptB').val("");
        $('#OptC').val("");
        $('#OptD').val("");
        $('#CorrectOpt').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#Pertanyaan').css('border-color', 'lightgrey');
        $('#OptA').css('border-color', 'lightgrey');
        $('#OptB').css('border-color', 'lightgrey');
        $('#OptC').css('border-color', 'lightgrey');
        $('#OptD').css('border-color', 'lightgrey');
        $('#CorrectOpt').css('border-color', 'lightgrey');
    }
    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#Pertanyaan').val().trim() == "") {
            $('#Pertanyaan').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Pertanyaan').css('border-color', 'lightgrey');
        }
        if ($('#OptA').val().trim() == "") {
            $('#OptA').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#OptA').css('border-color', 'lightgrey');
        }
        if ($('#OptB').val().trim() == "") {
            $('#OptB').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#OptB').css('border-color', 'lightgrey');
        }
        if ($('#OptC').val().trim() == "") {
            $('#OptC').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#OptC').css('border-color', 'lightgrey');
        }
        if ($('#OptD').val().trim() == "") {
            $('#OptD').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#OptD').css('border-color', 'lightgrey');
        }
        if ($('#CorrectOpt').val().trim() == "") {
            $('#CorrectOpt').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#CorrectOpt').css('border-color', 'lightgrey');
        }
        return isValid;
    }
    </script>
