﻿/* Custom CSS foto profil */

.rect-img-container {
    position: relative;
}

    .rect-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.rect-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
